﻿<header class="home mt-5 d-flex">
    <div class="container-fluid my-auto mx-5 px-5">

        <div class="home-block">
            <div class="row section-features">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="feature">
                       
                        <a href="~/the-group/about-firstrand">
                            <h2 class="text-lowercase">
                                the group
                            </h2>
                            FirstRand is a portfolio of integrated financial services businesses and offers a universal set
                            of <strong>transactional, lending, investment and insurance products and services.</strong>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="feature">
                       
                        <a href="~/investors/investor-information">
                            <h2 class="text-lowercase">
                                investors
                            </h2>
                            The group's objective is to build <strong>long-term franchise</strong> value and deliver
                            superior and sustainable returns
                            within acceptable levels of volatility.
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="feature">
                        

                        <a href="~/society/social-investing/social-investing">
                            <h2 class="text-lowercase">
                                society
                            </h2>
                            The group recognises that, as a systemic provider of financial products and services, it has a
                            <strong>material impact</strong> on a broad set of communities and stakeholders.
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="feature no-border">
                       
                        <a href="~/perspectives">
                            <h2 class="text-lowercase">
                                perspectives
                            </h2>
                            The group thrives on <strong>innovation and encourages original thinking.</strong> Perspectives
                            is a portal to
                            content we have specifically commissioned to explore new ideas and unique. concepts.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>