﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


  <div id="" class="" data-parent="">
                <div class="card-body">
                    <h6>
                        Six-monthly and quarterly disclosures

                    </h6>

                    <div>
                        <ul class="nav nav-tabs" id="myTab_" role="tablist">
                            @{ var bb = 1;}
                            @for (var i = 2020 - 1; i > 2012; i -= 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(i == 2019 ? "active" : null)"
                                       data-toggle="tab"
                                       href="#tabquarter1_@bb"
                                       role="tab"
                                       aria-controls="tabquarter1_@bb"
                                       aria-selected="true">
                                        @i
                                    </a>
                                </li>
                                bb++;
                            }

                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                                        more
                                    </a>
                                    <ul class="dropdown-menu">
                                        @for (var i = 2013 - 1; i >= 2008; i -= 1)
                                        {
                                        <li class="nav-item">

                                            <a class="nav-link" data-toggle="tab" href="#tabquarter1_@bb">@i</a>

                                        </li>
                                                bb++;
                                                }
                                        </ul>
                                </div>
                            </li>


                        </ul>
                        <div class="tab-content" id="myTabContent_">
                            @{var c = 1;}
                            @for (var i = 2020 - 1; i >= 2008; i -= 1)
                            {
                                <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tabquarter1_@c" role="tabpanel"
                                     aria-labelledby="tabquarter_@c">
                                    <table class="table table-dark table-sm table-borderless">
                                        <tbody>
                                            @{ string year = i.ToString();}
                                            @RenderItemLoop(year, "Monthly")
                                        </tbody>
                                    </table>
                                </div>
                                c++;
                            }
                        </div>
                    </div>

                    <br>
                    <h6>
                        Standardised disclosures
                    </h6>
                    <div>
                        <ul class="nav nav-tabs" id="myTab_" role="tablist">
                            @{ var k = 1;}
                            @for (var p = 2020 - 1; p >= 2013; p -= 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(p == 2019 ? "active" : null)" 
                                       data-toggle="tab" 
                                       href="#tabcommon1_@k"
                                       role="tab" 
                                       aria-controls="tab5" 
                                       aria-selected="false">
                                        @p
                                    </a>
                                </li>
                                k++;
                            }
                        </ul>
                        <div class="tab-content" id="myTabContent_">
                            @{var l = 1;}
                            @for (var i = 2020 - 1; i >= 2013; i -= 1)
                                {
                                <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tabcommon1_@l" role="tabpanel"
                                     aria-labelledby="tab1">
                                    <table class="table table-dark table-sm table-borderless">
                                        <tbody>
                                            @{ string year = i.ToString();}
                                            @RenderItemLoop(year, "Common")
                                        </tbody>
                                    </table>
                                </div>
                                l++;
                            }
                            @helper RenderItemLoop(string year, string itemSegment)
                            {
                                var selection =
                                    Umbraco.TypedContent(1576)
                                    .Children("baselPillar3DisclosureItem")
                                    .Where(x => x.IsVisible())
                                    .OrderBy("UpdateDate desc");

                                foreach (var item in selection)
                                {
                                    // Get uploaded file size in MB
                                    var bytes = Convert.ToInt64(@item.GetPropertyValue<string>("umbracoBytes"));
                                    var x = ((Math.Round(Convert.ToDecimal(@bytes) / 1048576, 1)).ToString() + " MB");
                                    var y = ((Math.Round(Convert.ToDecimal(@bytes) / 1024, 1)).ToString() + " KB");
                                    var fileSize = (bytes >= 1048576) ? x : y;

                                    // If field value @Umbraco.Field("year") is equal to year,
                                    // display items that have that value
                                    var itemYear = item.GetPropertyValue<string>("itemYear");
                                    var segment = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("segment"));

                                    if (itemYear.Equals(@year) && segment.Equals(@itemSegment))
                                    {
                                        <tr>
                                            <th scope="row">
                                                <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf">
                                            </th>
                                            <td>
                                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                                                    @item.Name
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>