﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the painting classrooms page *@


@{
    Layout = "WebBase.cshtml";
}


<div class="painting-classrooms">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Beyond Painting Classrooms provides opportunities for people passionate about corporate
                                employee
                                volunteering to learn about good practices in the field, share success stories, discuss
                                challenges and build knowledge collectively through critical and respectful engagement.
                            </p>
                        </div>
                    </div>
                    <div class="row service-blocks">
                        <div class="col-lg-3">
                            <div class="service-item">
                                <img src="~/images/icons/icon-vision.png" alt="" class="icon">
                                vision
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="service-item">
                                <img src="~/images/icons/icon-mission.png" alt="" class="icon">
                                mission
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="service-item">
                                <img src="~/images/icons/icon-values.png" alt="" class="icon">
                                values
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="service-item">
                                <img src="~/images/icons/icon-objectives.png" alt="" class="icon">
                                objectives
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="~/images/content/painting-classrooms-conference.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-6">
                            <p class="lead">
                                <strong>
                                    2017 Beyond painting classrooms conference
                                </strong>
                            </p>

                            <p>
                                The third Beyond Painting Classrooms conference will take place at the Wanderers Club in
                                Illovo, Johannesburg on the 13 and 14 September 2017. The theme of this year's
                                discussion is "inspiring employee volunteering". The conference aims to attract over 150
                                delegates and speakers this year from across the country.
                            </p>

                            <p class="strong">
                                Registration for the 2018 conference will open in early June.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h2>
                                    <span>National</span> employee volunteer awards programme
                                </h2>

                                <p class="lead">
                                    FirstRand, with the support of CAFSA, is excited to announce the Beyond Painting
                                    Classrooms Employee Volunteer Programme awards, the country's first nationwide
                                    awards
                                    programme focused on employee volunteering.
                                </p>

                                <p>
                                    Beyond Painting Classrooms provides opportunities for people passionate about
                                    corporate
                                    employee volunteering/and the corporate employee volunteering community to learn
                                    about
                                    good practices in the field, share success stories, discuss challenges and build
                                    knowledge collectively through critical and respectful engagement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 black-content-block d-flex">
                                <div class="mx-auto my-auto">
                                    <p class="lead">
                                        <span> The awards programme </span>supports Beyond Painting Classroom's
                                        vision of
                                        employees as
                                        active citizens engaged in building a <span>just, equitable</span>
                                        and <span>united South
                                            Africa.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <p>
                                        The Beyond Painting Classrooms Employee Volunteer Programme awards seek to
                                        recognise and celebrate inspiring examples of employee volunteering that go
                                        beyond traditional approaches to employee volunteering and create real value
                                        for business, volunteers and communities. By showcasing inspiring examples
                                        of employee volunteering, Beyond Painting Classrooms hopes to inspire more
                                        organisations and South Africans to get involved in employee volunteering,
                                        and to contribute to creating lasting social change.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="container">
                                <div class="panel-accordion">
                                    <div id="accordion" class="accordion">
                                        <div class="card-header collapsed" data-toggle="collapse"
                                             href="#collapseOne">
                                            <a class="card-title">
                                                Workshops
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="card-body collapse"
                                             data-parent="#accordion">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <img src="~/images/elements/article-placeholder.png" alt=""
                                                                 class="card-img-top">

                                                            <div class="card-body">
                                                                <p class="card-title">
                                                                    BPC Aligning EV with Core Business Strategy
                                                                </p>

                                                                <p class="card-subtitle">
                                                                    29 October 2014
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <img src="~/images/elements/article-placeholder.png" alt=""
                                                                 class="card-img-top">

                                                            <div class="card-body">
                                                                <p class="card-title">
                                                                    BPC Aligning EV with Core Business Strategy
                                                                </p>

                                                                <p class="card-subtitle">
                                                                    29 October 2014
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <img src="~/images/elements/article-placeholder.png" alt=""
                                                                 class="card-img-top">

                                                            <div class="card-body">
                                                                <p class="card-title">
                                                                    BPC Aligning EV with Core Business Strategy
                                                                </p>

                                                                <p class="card-subtitle">
                                                                    29 October 2014
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-header collapsed" data-toggle="collapse"
                                             data-parent="#accordion"
                                             href="#collapseTwo">
                                            <a class="card-title">
                                                Presentations
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="card-body collapse"
                                             data-parent="#accordion">
                                            <div class="container">
                                                <blockquote>
                                                    The candidates historically interviewed all have amazing
                                                    talent and I have
                                                    always been impressed by the enthusiasm shown for their
                                                    chosen fields of
                                                    study.
                                                    They have excelled academically as well as in their outside
                                                    interests, such
                                                    as
                                                    sport, music and community service. Leadership qualities
                                                    also seem to be
                                                    part
                                                    and parcel of their make-up. The interviews are a humbling
                                                    and rewarding
                                                    experience.
                                                    <cite>
                                                        Laurie Dippenaar
                                                    </cite>
                                                </blockquote>
                                                <h4>
                                                    SCHOLARSHIP CRITERIA
                                                </h4>

                                                <p>
                                                    The following factors are taken into account in the awarding
                                                    of the
                                                    scholarship:
                                                </p>

                                                <div class="card bg-grey mb-3 mt-3">
                                                    <div class="card-body">
                                                        <ul class="list-unstyled mb-0">
                                                            <li>
                                                                academic excellence;
                                                            </li>
                                                            <li>
                                                                leadership ability
                                                            </li>
                                                            <li>
                                                                community involvement; and
                                                            </li>
                                                            <li>
                                                                potential to be a destiny changer.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p>
                                                    Preference is given to applicants under the age of 35, and
                                                    this has
                                                    to be for first-time overseas study. Applicants should have
                                                    applied to and
                                                    been
                                                    conditionally accepted by their university of choice for the
                                                    postgraduate
                                                    course
                                                    they wish to pursue by April 2017.
                                                </p>

                                                <p>
                                                    Applications will be treated in the strictest confidence.
                                                    <br>
                                                    The decision of the adjudication panel is final and
                                                    correspondence
                                                    regarding their decision will not be entered into. The panel
                                                    reserves the
                                                    right
                                                    not to make an award.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                             href="#collapseFour">
                                            <a class="card-title">
                                                Articles
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6>
                                                    Quarterly disclosures
                                                </h6>

                                                <div>
                                                    <ul class="nav nav-tabs" id="myTab_" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="tab-tab1_" data-toggle="tab" href="#tab1_"
                                                               role="tab" aria-controls="tab1" aria-selected="true">2018</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="tab-tab2_" data-toggle="tab" href="#tab2_"
                                                               role="tab" aria-controls="tab2" aria-selected="false">2017</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="tab-tab3_" data-toggle="tab" href="#tab3_"
                                                               role="tab" aria-controls="tab3" aria-selected="false">2016</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="tab-tab4_" data-toggle="tab" href="#tab4_"
                                                               role="tab" aria-controls="tab4" aria-selected="false">2015</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="tab-tab5_" data-toggle="tab" href="#tab5_"
                                                               role="tab" aria-controls="tab5" aria-selected="false">2014</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="tab-tab6_" data-toggle="tab" href="#tab6_"
                                                               role="tab" aria-controls="tab5" aria-selected="false">2013</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <div class="dropdown">
                                                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                                                   id="dropdownMenuLink_" data-toggle="dropdown" aria-haspopup="true"
                                                                   aria-expanded="false">
                                                                    more
                                                                </a>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                    <a class="dropdown-item" href="#">2012</a>
                                                                    <a class="dropdown-item" href="#">2011</a>
                                                                    <a class="dropdown-item" href="#">2010</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content" id="myTabContent_">
                                                        <div class="tab-pane fade show active" id="tab1_" role="tabpanel"
                                                             aria-labelledby="tab1">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab2_" role="tabpanel"
                                                             aria-labelledby="tab2">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab3_" role="tabpanel"
                                                             aria-labelledby="tab3">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab4_" role="tabpanel"
                                                             aria-labelledby="tab4">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab5_" role="tabpanel"
                                                             aria-labelledby="tab5">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab6_" role="tabpanel"
                                                             aria-labelledby="tab6">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab7_" role="tabpanel"
                                                             aria-labelledby="tab6">
                                                            <table class="table table-dark table-sm table-borderless">
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            UBS financial services conference - Cape Town - Johan Burger
                                                                            (CEO)
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            Debt investor presentation for FI function in London - 14
                                                                            June 2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><img src="~/images/content/icon-pdf.png" alt=""
                                                                                         class="icon-pdf"></th>
                                                                    <td>
                                                                        <a href="#" target="_blank">
                                                                            FRB debt investor update - Asia non-deal roadshow - June
                                                                            2017
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="text-center mt-4">
                                <a href="#">
                                    <img src="~/images/icons/email-icon.png" alt="" class="img-fluid h-60">

                                    <p class="content">
                                        Contact us for more information
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

