﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


<div class="row">
                    <div class="col-md-12 padding-left">
                        <div>
                            <div class="umb-grid">
                                <div class="grid-section">
                                    <div>
                                        <div class="container-fluid">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">
                                                    <div class="">


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Credit ratings</h4>
                        <p>
                            The ratings of South African-based banks are constrained by the country’s sovereign rating. This is due to the direct and indirect impact of sovereign distress on domestic banks’ operations. <br /> The following tables summarise the credit ratings of the South African sovereign, FirstRand Bank Limited and FirstRand Limited as at 11 March 2019.
                        </p>
                        <p style="font-style: italic; font-weight:bold; text-transform: uppercase;">
                            South African Sovereign long-term ratings
                        </p>

                        <!-- Table ONE Start-->
                        <table width="100%" border="3"
                               style="
                                border-collapse: collapse;
                                border-color: black;
                                background-color: white;"
                               class="table-credit-ratings">

                            <tbody>
                                <tr>
                                    <td style="border-bottom: 2px solid black"></td>
                                    <td style=" border-bottom: 2px solid black">
                                        Outlook
                                    </td>
                                    <td style="border-bottom: 2px solid black">
                                        Foreign currency
                                    </td>
                                    <td style="border-bottom: 2px solid black">
                                        Local currency
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>BB</td>
                                    <td>BB+</td>
                                </tr>
                                <tr>
                                    <td>Moody's</td>
                                    <td>Stable</td>
                                    <td>Baa3</td>
                                    <td>Baa3</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" style="size=100%" class="table-credit-ratings footnote-text-block ">
                            <thead>
                             
                           
                                <tr>

                                    <td valign="top" style="text-align: start;"></td>
                                    <td>

                                        Sources: S&amp;P Global Ratings and Moody's Investors Service.
                                    </td>
                                </tr>
                            </thead>
                        </table>


                        <br />
                        <p style="font-style: italic; font-weight:bold; text-transform: uppercase;">
                            FirstRand Bank Limited
                        </p>

                        <!-- Table Two Start-->
                        <table width="100%" border="3"
                               style="size=100%; border-collapse: collapse; border-color: black;"
                               class="table-credit-ratings">


                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border-bottom: 2px solid black"></td>
                                    <td rowspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Outlook
                                    </td>
                                    <td colspan="2"
                                        style="border: 2px solid black">
                                        Counterparty*
                                    </td>
                                    <td colspan="2"
                                        style="border: 2px solid black">
                                        National scale
                                    </td>
                                    <td rowspan="2"
                                        style=" border: 2px solid black">
                                        Standalone credit <br />rating **
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>BB</td>
                                    <td>B</td>
                                    <td>zaAA +</td>
                                    <td>zaA-1 +</td>
                                    <td>bbb-</td>
                                </tr>
                                <tr>
                                    <td>Moody's</td>
                                    <td>Stable</td>
                                    <td>Baa3</td>
                                    <td>P-3</td>
                                    <td>Aaa.za</td>
                                    <td>P-1.za</td>
                                    <td>baa3</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Table Two Ends-->
                        <!-- Table for text under table TWO Starts-->
                        <table width="100%" style="size=100%" class="table-credit-ratings footnote-text-block ">
                            <thead>
                                <tr>

                                    <td valign="top" style="text-align: start;">*</td>
                                    <td>
                                        Relates to the issuer credit rating for S&P, and long-term bank deposits ratings for Moody’s.
                                    </td>
                                </tr>
                                <tr>

                                    <td valign="top" style="text-align: start;">**</td>
                                    <td>
                                        Refers to a rating agency's measure of a bank's intrinsic
                                        creditworthiness before
                                        considering external factors, e.g. affiliate or government
                                        support. S&amp;P uses the
                                        standalone credit profile and Moody's the baseline credit
                                        assessment.
                                        Sources: S&amp;P Global Ratings and Moody's Investors Service.
                                    </td>
                                </tr>
                                <tr>

                                    <td valign="top" style="text-align: start;"></td>
                                    <td>

                                        Sources: S&amp;P Global Ratings and Moody's Investors Service.
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- Table for text under table Two Ends -->
                        <br>

                        <p>
                            FirstRand Bank’s standalone credit ratings continue to reflect its strong market position in South Africa, focused strategy, good core profitability, financial flexibility, robust risk management and sound capitalisation.
                        </p>

                        <p style="font-style: italic; font-weight:bold; text-transform: uppercase;">
                            FirstRand Limited

                        </p>

                        <!-- Table 3 Starts -->
                        <table border="3" width="100%"
                               style="size=100%; border-collapse: collapse; border-color: black"
                               class="table-credit-ratings">

                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border: 2px solid black"></td>
                                    <td rowspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Outlook
                                    </td>
                                    <td colspan="2"
                                        style="text-align: center; border: 2px solid black">
                                        Counterparty*
                                    </td>
                                    <td colspan="2"
                                        style="text-align: center; border: 2px solid black ">
                                        National scale
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Long
                                        term
                                    </td>
                                    <td style="border: 2px solid black">
                                        Short
                                        term
                                    </td>
                                </tr>
                                <tr>
                                    <td>S&amp;P</td>
                                    <td>Stable</td>
                                    <td>B+</td>
                                    <td>B</td>
                                    <td>zaA</td>
                                    <td>zaA-1</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Table 3 Ends -->
                        <table width="100%" style="size=100%" class="table-credit-ratings footnote-text-block ">
                            <thead>
                                <tr>

                                    <td valign="top" style="text-align: start;">*</td>
                                    <td>
                                        Relates to the issuer credit rating for S&P.
                                    </td>
                                </tr>
                                <tr>

                                    <td valign="top" style="text-align: start;"></td>
                                    <td>

                                        Source: S&amp;P Global Ratings.
                                    </td>
                                </tr>

                            </thead>
                        </table>
                        <br>



                        <p>
                            FirstRand Limited's ratings reflect its status as the non-operating
                            holding company of
                            the FirstRand group and the entity's consequent structural subordination
                            and
                            reliance on dividends from operating companies to meet its obligations,
                            which
                            exposes it to potential regulatory impositions. It is standard practice
                            for a holding
                            company to be rated below the operating company (in this case, FirstRand
                            Bank Limited). The group issues debt out of the bank, wich is the
                            credit
                            counterparty.
                        </p>

                    </div>
                </div>