﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


<p>
    The information and advice contained in the site is for general use only. Whilst reasonable care is taken by
FirstRand limited (Reg. No. 1996/01753/06) “FirstRand” to ensure that the information published on this site is
accurate and complete as at the date of publication, FirstRand does not guarantee the accuracy or completeness
of any information contained in or referred to in the material on this site. Nor does FirstRand assume any
liability for errors or omissions at this site or for any loss which may result from the reliance by any person
upon information contained in this site.
<br><br>
The information provided on this site is not targeted at, or intended for use by, any person or entity in any
jurisdiction or country where such distribution or use would be contrary to law or regulation or which would
subject FirstRand to any registration requirement within such jurisdiction or country. In particular, nothing on
this website should be interpreted as targeting persons or entities in the United Kingdom or USA.

</p>