﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}

            <div class="">
                <div class="">
                    
                    <p>
                        The FirstRand Foundation was established in 1998 as the legal vehicle through which FirstRand
                        Limited and its major franchises (FNB, RMB and WesBank) direct their individual and collective
                        corporate social investment. From inception, the FirstRand Foundation received 1% of FirstRand
                        Limited’s net profit after tax (NPAT). <br /><br />
                        Legally, there are two disbursing structures – the FirstRand Foundation, through which donations
                        are made to public benefit organisations who do not qualify for section 18A tax deductible status,
                        and the FirstRand Educational Trust, for payments to educational projects and institutions that do
                        qualify. All disbursement decisions are made by the trustees. <br /><br />
                        Currently the FirstRand Foundation strategy is to be the foremost corporate social investor and
                        knowledge collaborator committed to contributing to the development of a better South Africa
                        through: mainstreaming disability, capacity building, leveraging partnerships and knowledge
                        sharing.
                      
                    </p>

                    <div class="row">
                       <div class="foundations-boxed-line">
                           
                           <div class="row">
                        <div class="col-lg-6">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 532 560"><defs><style>.cls-1{fill:#e6e7e8;}.cls-12,.cls-2{font-size:19.14px;}.cls-11,.cls-12,.cls-2,.cls-6{fill:#231f20;}
                            .cls-2 {
                                font-family: 'Roboto', sans-serif;
                            }.cls-3{font-size:20.61px;font-family:Webdings, Webdings;}.cls-10,.cls-3{fill:#d2e6e9;}.cls-10,.cls-4,.cls-7,.cls-9{stroke:#231f20;stroke-miterlimit:10;}.cls-4,.cls-7{stroke-width:0.3px;}.cls-5{fill:#76a1b5;}
                            .cls-11, .cls-5, .cls-8 {
                                font-family: 'Roboto', sans-serif;
                            }
                            .cls-6 {
                                font-family: 'Roboto', sans-serif;
                                letter-spacing: 0.01em;
                                font-size: 20.93px;
                            }
                            .cls-7, .cls-9 {
                                fill: #fff;
                                font-size:
                                20.61px
                            ;}.cls-8{fill:#b7c8b0;}.cls-10,.cls-9{stroke-width:0.3px;}.cls-11{font-size:17.67px;}
                            .cls-12 {
                                font-family: 'Roboto', sans-serif;
                            }</style></defs><title>graphs</title><rect class="cls-1" x="8.86" y="6.75" width="99.5" height="481.38"/><rect class="cls-1" x="112.56" y="6.75" width="99.5" height="481.38"/><rect class="cls-1" x="216.26" y="6.75" width="99.5" height="481.38"/><rect class="cls-1" x="319.95" y="6.75" width="99.5" height="481.38"/><rect class="cls-1" x="423.65" y="6.75" width="99.5" height="481.38"/><text class="cls-2" transform="translate(40.56 38.21)">124*</text><text class="cls-2" transform="translate(144.25 38.21)">175*</text><text class="cls-2" transform="translate(247.95 38.21)">171*</text><text class="cls-2" transform="translate(351.65 38.21)">218*</text><text class="cls-2" transform="translate(455.35 38.21)">235*</text><text class="cls-3" transform="translate(6.11 543)"><tspan class="cls-4"></tspan><tspan class="cls-5" x="20.61" y="0" xml:space="preserve">  </tspan><tspan class="cls-6" x="30.5" y="0.59" xml:space="preserve">Community development     </tspan><tspan class="cls-7" x="287.02" y="0"></tspan><tspan class="cls-8" x="307.63" y="0" xml:space="preserve">  </tspan><tspan class="cls-6" x="317.53" y="0.59">Education</tspan></text><rect class="cls-9" x="58.61" y="246.23" width="43.35" height="236.43"/><rect class="cls-9" x="162.31" y="221.08" width="43.35" height="261.59"/><rect class="cls-9" x="266.01" y="311.63" width="43.35" height="171.04"/><rect class="cls-9" x="369.7" y="135.56" width="43.35" height="347.1"/><rect class="cls-9" x="473.4" y="190.89" width="43.35" height="291.77"/><rect class="cls-10" x="15.26" y="216.05" width="43.35" height="266.62"/><rect class="cls-10" x="118.96" y="241.2" width="43.35" height="241.46"/><rect class="cls-10" x="222.66" y="150.65" width="43.35" height="332.01"/><rect class="cls-10" x="326.35" y="326.72" width="43.35" height="155.95"/><rect class="cls-10" x="430.05" y="271.38" width="43.35" height="211.28"/><text class="cls-11" transform="translate(145.91 510.7)">2015</text><text class="cls-11" transform="translate(39.83 510.7)">2014</text><text class="cls-11" transform="translate(246.1 510.7)">2016</text><text class="cls-11" transform="translate(352.18 510.7)">2017</text><text class="cls-11" transform="translate(452.37 510.7)">2018</text><text class="cls-12" transform="translate(20.49 245.28)">53%</text><text class="cls-12" transform="translate(124.19 267.85)">48%</text><text class="cls-12" transform="translate(227.89 176.09)">66%</text><text class="cls-12" transform="translate(331.58 349.36)">31%</text><text class="cls-12" transform="translate(435.28 295.38)">42%</text><text class="cls-12" transform="translate(63.84 272.94)">47%</text><text class="cls-12" transform="translate(167.54 247.44)">52%</text><text class="cls-12" transform="translate(271.24 340.66)">34%</text><text class="cls-12" transform="translate(374.93 162.59)">69%</text><text class="cls-12" transform="translate(478.63 219.02)">58%</text></svg>
     
                        </div>
                        <div class="col-lg-6">
                                    <h3 class="ml-4">Community development
                                        consists of investment in:</h3>
                                    <ul class="">
                                        <li>
                                            the creative economy;
                                        </li>
                                        <li>
                                            the green economy;
                                        </li>
                                        <li>
                                            food security and agriculture livelihoods;
                                        </li>
                                        <li>
                                            FirstRand Volunteers programme;
                                        </li>
                                        <li>
                                            mainstreaming disability; and
                                        </li>
                                        <li>
                                            thought leadership
                                        </li>
                                    </ul>
                              
                        </div>
                        
                           </div>  
                             <div class="full-div footnote-text-block">
                              * The reported CSI number is the audited, contributed spend for the
                        FirstRand financial year. It is based on 1% of NPAT of FirstRand Limited
                        FirstRand Foundation CSI spend.
                        </div>               
                       </div>
                    </div>
                  

                   
                    
                   
                </div>
            </div>
        