﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Firstrand.Controllers
@using Firstrand.Models
@using System.Web.Mvc.Html



@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@{@Umbraco.Field("pageName")} - Firstrand</title>

    <!-- Library CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/modules/animate.css/animate.css" rel="stylesheet">
    <link href="~/modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="~/css/styles.css" rel="stylesheet">
    <link rel="icon" href="~/images/logos/favicon.png">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="frontpage">
    <div id="preloader"></div>

    @{Html.RenderAction("RenderTopMenu", "SiteLayout");}

    <!-- Page Content -->
    @{
        if (CurrentPage.IsEqual(Umbraco.Content("1065")))
        {
            Html.RenderAction("RenderIndex", "Home");
        }
    }
    <!-- /Page Content -->

    @{Html.RenderAction("RenderFooter", "SiteLayout");}
    @{Html.RenderAction("RenderBottom", "SiteLayout");}
