﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}

 <div id="" class="card-body" data-parent="">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @{ var t = 1;}
                    @for (var i = 2020 - 1; i > 2012; i -= 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(i == 2019 ? "active" : null) " id="tab-tab1" data-toggle="tab" href="#tablimited1_@t"
                               role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                        </li>
                        t++;
                    }

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                                more
                            </a>
                            <ul class="dropdown-menu">
                                @for (var i = 2013 - 1; i >= 2008; i -= 1)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-tab1" data-toggle="tab" href="#tablimited1_@t"
                                       role="tab" aria-controls="tab" aria-selected="true">@i</a>

                                </li>
                                    t++;
                                }
                            </ul>
                        </div>
                    </li>


                </ul>
                <div class="tab-content" id="myTabContent">
                    @{var j = 1;}
                    @for (var i = 2020 - 1; i >= 1998; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited1_@j" role="tabpanel"
                             aria-labelledby="tablimited1_@j">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderItemLoop(@year)
                                </tbody>
                            </table>
                        </div>
                        j++;
                    }
                    @helper RenderItemLoop(string year)
                    {
                        var selection =
                            Umbraco.TypedContent(1715)
                            .Children("investorPresentationsItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("CreateDate");

                        foreach (var item in selection)
                        {
                            // If field value @Umbraco.Field("year") is equal to year,
                            // display items that have that value
                            var itemYear = item.GetPropertyValue<string>("itemYear");
                            if (itemYear.Equals(@year))
                            {
                                <tr>
                                     <div class="icon-pdf-div">
                                        <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf">
                                    </div>
                                    <div class="text-row-div">
                                        <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">@item.Name</a>
                                   </div>
                                </tr>
                            }
                        }
                    }
                </div>
            </div>