﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


 <div id="" class="" data-parent="">

                <div class="card-body">
                    <h6>
            Aldermore acquisition
        </h6>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @{ var tc = 1;}
            @for (var i = 2020 - 1; i > 2012; i -= 1)
            {
                <li class="nav-item">
                    <a class="nav-link @(i == 2019 ? "active" : null) " id="tab-tab1" data-toggle="tab" href="#tablimited20_@tc"
                       role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                </li>
                tc++;
            }

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                        more
                    </a>
                    <ul class="dropdown-menu">
                        @for (var i = 2013 - 1; i >= 2008; i -= 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="tab-tab1" data-toggle="tab" href="#tablimited20_@tc"
                                   role="tab" aria-controls="tab" aria-selected="true">@i</a>

                            </li>
                            tc++;
                        }
                    </ul>
                </div>
            </li>


        </ul>
        <div class="tab-content" id="myTabContent">
            @{var jc = 1;}
            @for (var i = 2020 - 1; i >= 1998; i -= 1)
            {
                <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited20_@jc" role="tabpanel"
                     aria-labelledby="tablimited1_@jc">
                    <table class="table table-dark table-sm table-borderless">
                        <tbody>
                            @{ string year = i.ToString();}
                            @RenderItemLoopC(@year)
                        </tbody>
                    </table>
                </div>
                jc++;
            }
            @helper RenderItemLoopC(string year)
            {
                var selection =
                    Umbraco.TypedContent(2636)
                    .Children("aldernoreAcqusitionItem")
                    .Where(x => x.IsVisible())
                    .OrderBy("CreateDate");

                foreach (var item in selection)
                {
                    // If field value @Umbraco.Field("year") is equal to year,
                    // display items that have that value
                    var itemYear = item.GetPropertyValue<string>("itemYear");
                    if (itemYear.Equals(@year))
                    {
                        <tr>
                            <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                </div>
                <div class="text-row-div">
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
                </div></div>
                        </tr>
                    }
                }
            }
        </div>

                </div>

               
                @{
                    var selection =
                            Umbraco.TypedContent(1716)
                            .Children("otherCircularsAndMOIItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("UpdateDate desc");

                    foreach (var item in selection)
                    {
                        <div class="card-body">
                            <h6 class="card-title">
                                @item.Name
                            </h6>
                            <p class="card-text">
                                @item.GetPropertyValue("brief")
                            </p>
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{
                                        <tr>
                                           <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                  </div>
                <div class="text-row-div">
                                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                                                    @item.GetPropertyValue("documentTitle")
                                                </a>
                                           <div>
                                           </div>
                                        </tr>
                                        if (item.HasValue("pdfDocument2"))
                                        {
                                            <tr>
                                                 <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                  </div>
                <div class="text-row-div">
                                                    <a href="@item.GetPropertyValue("pdfDocument2")" target="_blank">
                                                        @item.GetPropertyValue("documentTitle2")
                                                    </a>
                                              </div>
                                              </div>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                }
            </div>
           