﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Collections.Generic;
@using Firstrand.Models;
@using Firstrand.Controllers;
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = "WebBasePerspectives.cshtml";
}

<!-- Page Content -->
@{
    var selection =
    Model.Content.Site()
    .FirstChild("perspectives")
    .Children()
    .Where(x => x.IsVisible() && !x.GetPropertyValue<bool>("isFeatured") && x.GetPropertyValue<DateTime>("publishDate") <= DateTime.Now)
    .OrderBy("createDate desc").OrderBy("updateDate desc").OrderBy("publishDate desc");
    var i = 0;
}

@*Perspectives index section*@
@{
    var perspectivesIndex = Umbraco.Content(1072);
    if (CurrentPage.IsAncestorOrSelf(perspectivesIndex))
    {
        <!-- Featured Article-->
        <div class="featured-article-hero">
            <div class="row">
                <div class="col-lg-12">
                    @{
                        var featuredArticles =
                              Model.Content.Site()
                              .FirstChild("perspectives")
                              .Children()
                              .Where(x => x.IsVisible() && x.GetPropertyValue<bool>("isFeatured"));
                        var k = 0;
                        foreach (var featuredArticle in featuredArticles.Take(1))
                        {
                            <p class="mb-1 featured-legend">
                                Featured article
                            </p>
                            <div class="mb-4">
                                @{ string imageUrl = featuredArticle.GetPropertyValue<IPublishedContent>("articleImage").Url;

                                    if (imageUrl != null)
                                    {
                                        <a href="@featuredArticle.Url">
                                            <img src="@imageUrl" class="img-fluid" alt="@featuredArticle.Name">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@featuredArticle.Url">
                                            <img src="~/images/articles/blank.png" class="img-fluid" alt="@featuredArticle.Name">
                                        </a>
                                    }
                                }
                            </div>
                            <a href="@featuredArticle.Url">
                                <h2>
                                    @featuredArticle.Name
                                </h2>
                            </a>
                            <p class="author">
                                @{
                                    IPublishedContent author = featuredArticle.GetPropertyValue<IPublishedContent>("author");
                                    var date = featuredArticle.GetPropertyValue<DateTime>("publishDate");

                                    if (author != null)
                                    {
                                        @date.ToString("MM.yyyy") @:| @author.Name
                                    }
                                    else
                                    {
                                        @date.ToString("MM.yyyy") @:| Staff Writer
                                    }
                                }
                            </p>
                            <p class="article-intro">
                                @featuredArticle.GetPropertyValue("articleIntro")
                                <a href="@featuredArticle.Url"><strong>Read more</strong></a>
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- Articles -->
        <div class="articles-list mb-5">

            <div class="row">
                @{
                    int pageSize = 20; // How many items per page
                    int page; // The page we are viewing

                    /* Set up parameters */
                    if (!int.TryParse(Request.QueryString["page"], out page))
                    {
                        page = 1;
                    }

                    /* This is your basic query to select the nodes you want */
                    int totalNodes = selection.Count();
                    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);

                    /* Bounds checking */
                    if (page > totalPages)
                    {
                        page = totalPages;
                    }
                    else if (page < 1)
                    {
                        page = 1;
                    }
                }

                @foreach (var item in selection.Skip((page - 1) * pageSize).Take(pageSize))
                {
                    i++;
                    k++;
                    string imageUrl = item.GetPropertyValue<IPublishedContent>("articleImage").Url;
                    IPublishedContent author = item.GetPropertyValue<IPublishedContent>("author");
                    var date = item.GetPropertyValue<DateTime>("publishDate");
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                            <div class="caption-container mb-4">
                                <a href="@item.Url">
                                    <div class="caption" style="background: url(@imageUrl) no-repeat left top / cover;">
                                        <div class="caption-info"></div>
                                    </div>
                                </a>
                                <div class="caption-info">
                                    <p class="title">
                                        <a href="@item.Url" class="">@item.Name</a>
                                    </p>
                                    <p class="description">
                                        @item.GetPropertyValue("articleIntro")
                                    </p>
                                    <p class="post-info">
                                        @{
                                            if (author != null)
                                            {
                                                @date.ToString("MM.yyyy") @:| @author.Name
                                            }
                                            else
                                            {
                                                @date.ToString("MM.yyyy") @:| Staff Writer
                                            }
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            @{
                if (totalPages > 1)
                {
                    <!-- Pagination -->
                    <nav aria-label="Bottom page navigation">
                        <ul class="pagination justify-content-center">
                            @if (page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(page-1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            @for (int p = 1; p < totalPages + 1; p++)
                            {
                                <li class="page-item @(p == page ? "active" : string.Empty)">
                                    <a class="page-link" href="?page=@p">@p</a>
                                </li>
                            }
                            @if (page < totalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(page+1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            }
        </div>
    }
}

@*Single article section*@
@{
    if (CurrentPage.DocumentTypeAlias == "article")
    {
        <div class="perspectives-article">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Article Banner-->
                    <div class="article-banner">
                        @{
                            if (CurrentPage.HasValue("featuredImage"))
                            {
                                string featuredImage = CurrentPage.GetPropertyValue<IPublishedContent>("featuredImage").Url;
                                <img src="@featuredImage" class="img-fluid w-100">
                                if (CurrentPage.HasValue("imageCredit"))
                                {
                                    <div class="img-source pull-left">Image Credit: @Umbraco.Field("imageCredit")</div>
                                }
                            }
                        }
                    </div>
                    <!-- Article Title-->
                    <div class="mt-4">
                        <h2 class="heading">
                            @{ if (CurrentPage.HasValue("title"))
                                {
                                    @Umbraco.Field("title")
                                }
                                else
                                {
                                    @CurrentPage.Name
                                }
                            }
                        </h2>
                        <p class="author">
                            @{
                                IPublishedContent author = CurrentPage.GetPropertyValue<IPublishedContent>("author");
                                var date = CurrentPage.GetPropertyValue<DateTime>("publishDate");

                                if (author != null)
                                {
                                    @date.ToString("MM.yyyy") @:| @author.Name
                                }
                                else
                                {
                                    @date.ToString("MM.yyyy") @:| Staff Writer
                                }
                            }
                        </p>
                    </div>

                    <!-- Article-->
                    <div class="article-content content wow fadeIn">
                        <div class="text-to-speech">
                            <p>
                                <span id=play>
                                    Read aloud
                                </span>
                                <span id=pause class="hidden-desktop">
                                    Pause
                                </span>
                                <span id=stop class="hidden-desktop">
                                    Stop
                                </span>
                            </p>
                        </div>
                        <article class="article">
                            @CurrentPage.GetPropertyValue("articleContent")
                        </article>

                        <div class="social-icons">
                            <ul class="list-inline text-right">
                                @{ if (Model.Content.HasValue("articlePDF"))
                                    {
                                        <li class="list-inline-item"><a href="@CurrentPage.GetPropertyValue("articlePDF")" target="_blank"><i class="fa fa-download"></i></a></li>
                                    }
                                }
                                <li class="list-inline-item"><a href="#"><i class="fa fa-print"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        @if (CurrentPage.HasProperty("tags"))
                        {
                            string[] tagsList = CurrentPage.tags;
                            if (tagsList.Count() > 0)
                            {
                                <div class="article-tags wow fadeIn">
                                    <p class="title">
                                        Tags
                                    </p>
                                    <ul class="nav nav-pills">
                                        @foreach (var tag in tagsList)
                                        {
                                            <li><a href="/tags?tag=@tag">@tag</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    <!--related articles-->
                    <div class="related-content">
                        <p class="heading">
                            Related Articles
                        </p>
                        <div class="articles-list wow fadeIn">
                            <div class="related-items-slideshow">
                                @*Get articles within same category as current article, Exclude current article, OrderBy random*@
                                @foreach (var article in selection
        .Where("Visible")
        .Where(article => article.Id != Model.Content.Id)
        .Where(article => article.GetPropertyValue<IPublishedContent>("category").Name == Model.Content.GetPropertyValue<IPublishedContent>("category").Name)
        .Take(21)
        .RandomOrder())
                                {
                                    string articleThumbnail = article.GetPropertyValue<IPublishedContent>("articleImage").Url;
                                    IPublishedContent category = article.GetPropertyValue<IPublishedContent>("category");
                                    var currentPageId = UmbracoContext.Current.PageId;
                                    IPublishedContent relatedArticlesAuthor = article.GetPropertyValue<IPublishedContent>("author");

                                    <div class="caption-container">
                                        <a href="@article.Url">
                                            @{
                                                if (articleThumbnail != null)
                                                {
                                                    <div class="caption" style="background: url(@articleThumbnail) no-repeat top left; background-size: cover;">
                                                        <div class="caption-info"></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="caption" style="background: url('~/images/articles/blank.png') no-repeat top left; background-size: cover;">
                                                        <div class="caption-info"></div>
                                                    </div>
                                                }
                                            }
                                        </a>
                                        <div class="caption-info">
                                            <p class="title">
                                                <a href="@article.Url" class="">
                                                    @article.Name
                                                </a>
                                            </p>
                                            <p class="description">
                                                @article.GetPropertyValue("articleIntro")
                                            </p>
                                            <p class="post-info">
                                                @{
                                                    if (relatedArticlesAuthor != null)
                                                    {
                                                        @date.ToString("MM.yyyy") @:| @relatedArticlesAuthor.Name
                                                    }
                                                    else
                                                    {
                                                        @date.ToString("MM.yyyy") @:| Staff Writer
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </div>
                                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                                    }
                                                    else if (CurrentPage.DocumentTypeAlias == "galleryArticle")
                                                    {
        <div class="perspectives-article">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Article Title-->
                    <div class="mt-4">
                        <h2 class="heading">
                            @{ if (CurrentPage.HasValue("title"))
                                {
                                    @Umbraco.Field("title")
                                }
                                else
                                {
                                    @CurrentPage.Name
                                }
                            }
                        </h2>
                        <p class="author">
                            @{
                                IPublishedContent author = CurrentPage.GetPropertyValue<IPublishedContent>("author");
                                var date = CurrentPage.GetPropertyValue<DateTime>("publishDate");

                                if (author != null)
                                {
                                    @date.ToString("MM.yyyy") @:| @author.Name
                                }
                                else
                                {
                                    @date.ToString("MM.yyyy") @:| Staff Writer
                                }
                            }
                        </p>
                    </div>
                    <!-- Article-->
                    <div class="article-content content wow fadeIn">
                        <div class="text-to-speech">
                            <p>
                                <span id=play>
                                    Read aloud
                                </span>
                                <span id=pause class="hidden-desktop">
                                    Pause
                                </span>
                                <span id=stop class="hidden-desktop">
                                    Stop
                                </span>
                            </p>
                        </div>
                        <article class="article">
                            @CurrentPage.GetPropertyValue("articleContent")
                            <div class="gallery-content-type container">
                                <div class="row">
                                    @{
                                        var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("gallery");
                                        foreach (var item in typedMultiMediaPicker)
                                        {
                                            <a href="@item.Url"
                                                data-toggle="lightbox"
                                                data-gallery="gallery"
                                                data-max-height="500"
                                                data-type="image"
                                                class="col-md-4">
                                                <div class="gallery-image"
                                                        style="background: url(@item.Url) no-repeat center top / cover;">
                                                </div>
                                            </a>
                                        }}
                                </div>
                            </div>
                        </article>
                        <div class="social-icons">
                            <ul class="list-inline text-right">
                                @{ if (Model.Content.HasValue("articlePDF"))
                                    {
                                        <li class="list-inline-item"><a href="@CurrentPage.GetPropertyValue("articlePDF")" target="_blank"><i class="fa fa-download"></i></a></li>
                                    }
                                }
                                <li class="list-inline-item"><a href="#"><i class="fa fa-print"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        @if (CurrentPage.HasProperty("tags"))
                        {
                            string[] tagsList = CurrentPage.tags;
                            if (tagsList.Count() > 0)
                            {
                                <div class="article-tags wow fadeIn">
                                    <p class="title">
                                        Tags
                                    </p>
                                    <ul class="nav nav-pills">
                                        @foreach (var tag in tagsList)
                                        {
                                            <li><a href="/tags?tag=@tag">@tag</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                    <!--related articles-->
                    <div class="related-content">
                        <p class="heading">
                            Related Articles
                        </p>
                        <div class="articles-list wow fadeIn">
                            <div class="related-items-slideshow">
                                @*Get articles within same category as current article, Exclude current article, OrderBy random*@
                                @foreach (var article in selection
                                    .Where("Visible")
                                    .Where(article => article.Id != Model.Content.Id)
                                    .Where(article => article.GetPropertyValue<IPublishedContent>("category").Name == Model.Content.GetPropertyValue<IPublishedContent>("category").Name)
                                    .Take(21)
                                    .RandomOrder())
                                {
                                    string articleThumbnail = article.GetPropertyValue<IPublishedContent>("articleImage").Url;
                                    IPublishedContent category = article.GetPropertyValue<IPublishedContent>("category");
                                    var currentPageId = UmbracoContext.Current.PageId;
                                    IPublishedContent relatedAuthor = article.GetPropertyValue<IPublishedContent>("author");

                                    <div class="caption-container">
                                        <a href="@article.Url">
                                            @{
                                                if (articleThumbnail != null)
                                                {
                                                    <div class="caption" style="background: url(@articleThumbnail) no-repeat top left; background-size: cover;">
                                                        <div class="caption-info"></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="caption" style="background: url('~/images/articles/blank.png') no-repeat top left; background-size: cover;">
                                                        <div class="caption-info"></div>
                                                    </div>
                                                }
                                            }
                                        </a>
                                        <div class="caption-info">
                                            <p class="title">
                                                <a href="@article.Url" class="">
                                                    @article.Name
                                                </a>
                                            </p>
                                            <p class="description">
                                                @article.GetPropertyValue("articleIntro")
                                            </p>
                                            <p class="post-info">
                                                @{
                                                    if (relatedAuthor != null)
                                                    {
                                                        @date.ToString("MM.yyyy") @:| @relatedAuthor.Name
                                                    }
                                                    else
                                                    {
                                                        @date.ToString("MM.yyyy") @:| Staff Writer
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}