﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


<div id="" class="" data-parent="">

                <div class="content p-4">
                    <div class="debt-jse">
                        <p class="strong">
                            Debt programmes listed on Johannesburg Stock Exchange (JSE)
                        </p>

                        <ul class="nav nav-tabs" id="myTab__" role="tablist">
                            @{ var CB = 1;}
                            @for (var iB = 2020 - 1; iB > 2012; iB -= 1)
                            {
                                <li class="nav-item nav-item-date">
                                    <a class="nav-link @(iB == 2019 ? "active" : null)"
                                       data-toggle="tab"
                                       href="#tabrts-2_@CB"
                                       aria-selected="true">@iB</a>
                                </li>
                                CB++;
                            }

                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                                        more
                                    </a>
                                    <ul class="dropdown-menu">
                                        @for (var iB = 2013 - 1; iB >= 2004; iB -= 1)
                                        {

                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabrts-2_@CB">@iB</a>

                                            </li>
                                            CB++;
                                        }
                                    </ul>
                                </div>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent__">
                            @{var d2 = 1;}
                            @for (var iB = 2020 - 1; iB >= 2002; iB -= 1)
                            {
                                <div class="tab-pane fade show @(iB == 2019 ? "active in" : null)" id="tabrts-2_@d2">
                                    <table class="table table-dark table-sm table-borderless">
                                        <tbody>
                                            @{ string year = iB.ToString();}
                                            @RenderItemLoop(@year, "JSE")
                                        </tbody>
                                    </table>
                                </div>
                                d2++;
                            }
                        </div>
                    </div>
                    <div class="disclosure-jse">
                        <br>
                        <p class="strong">
                            FirstRand Bank Limited - issuer disclosure document for programmes listed on the JSE
                        </p>
                        @for (var iB2 = 2020 - 1; iB2 >= 2017; iB2 -= 1)
                        {
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active"
                                     aria-labelledby="tab1">
                                    @{ string year = iB2.ToString();}
                                    @RenderItemLoop(@year, "Disclosure")


                                </div>
                            </div>
                        }

                    </div>
                    <div class="debt-lse">
                        <br>
                        <p class="strong">
                            Debt programs listed on London Stock Exchange (LSE)
                        </p>

                        @*<div class="tab-content" id="myTabContent_">
                            <div class="tab-pane fade show active"
                                 aria-labelledby="tab1">
                                @RenderItemLoop("2014", "LSE")
                                @RenderItemLoop("2013", "LSE")
                                @RenderItemLoop("2012", "LSE")
                                @RenderItemLoop("2011", "LSE")
                            </div>
                        </div>*@

                        <ul class="nav nav-tabs" id="myTab__" role="tablist">
                @{ var CA = 1;}
                @for (var iA = 2020 - 1; iA > 2012; iA -= 1)
                {
                    <li class="nav-item nav-item-date">
                        <a class="nav-link @(iA == 2019 ? "active" : null)"
                           data-toggle="tab"
                           href="#tabrts-1_@CA"
                           aria-selected="true">@iA</a>
                    </li>
                    CA++;
                }

                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                            more
                        </a>
                        <ul class="dropdown-menu">
                            @for (var iA = 2013 - 1; iA >= 2004; iA -= 1)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabrts-1_@CA">@iA</a>

                                </li>
                                CA++;
                            }
                        </ul>
                    </div>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent__">
                @{var d = 1;}
                @for (var iA = 2020 - 1; iA >= 2002; iA -= 1)
                {
                    <div class="tab-pane fade show @(iA == 2019 ? "active in" : null)" id="tabrts-1_@d">
                        <table class="table table-dark table-sm table-borderless">
                            <tbody>
                                @{ string year = iA.ToString();}
                                @RenderItemLoop(@year, "LSE")
                            </tbody>
                        </table>
                    </div>
                    d++;
                }
            </div>
                        @*<div class="tab-content" id="myTabContent_">
                <div class="tab-pane fade show active"
                     aria-labelledby="tab1">
                    @RenderItemLoop(@year, "LSE")
                    @RenderItemLoop("2013", "LSE")
                    @RenderItemLoop("2012", "LSE")
                    @RenderItemLoop("2011", "LSE")
                </div>
            </div>*@
                    </div>
                </div>
            </div>
            
            
            @helper RenderItemLoop(string year, string xchange)
{

    var selection =
            Umbraco.TypedContent(1598)
            .Children("prospectusesItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        var stockXchange = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("stockExchange"));
        var document = item.GetPropertyValue("pdfDocument");

        if (itemYear.Equals(@year) && (stockXchange.Equals(@xchange)))
        {
            
                    <tr>
                        <div class="full-div">
                         <div class="icon-pdf-div">
                            <img src="/images/content/icon-pdf.png" class="icon-pdf">
                        </div>
                         <div class="text-row-div">
                            <a href="@document" target="_blank">@item.Name</a>
                        </div>
                        </div>
                    </tr>
                    
                }
            }
        }
