﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}



<div class="row">
    
             <h2 class="mb-2">
                        <span> FirstRand</span> international <br>post graduate<span>scholarships</span> 
                    </h2>
                    <p>
                        The FirstRand Foundation was established in 1998 as the legal vehicle through which FirstRand
                        Limited and its major franchises (FNB, RMB and WesBank) direct their individual and collective
                        corporate social investment. From inception, the FirstRand Foundation received 1% of FirstRand
                        Limited’s net profit after tax (NPAT). <br /><br />
                        Legally, there are two disbursing structures – the FirstRand Foundation, through which donations
                        are made to public benefit organisations who do not qualify for section 18A tax deductible status,
                        and the FirstRand Educational Trust, for payments to educational projects and institutions that do
                        qualify. All disbursement decisions are made by the trustees. <br /><br />
                        Currently the FirstRand Foundation strategy is to be the foremost corporate social investor and
                        knowledge collaborator committed to contributing to the development of a better South Africa
                        through: mainstreaming disability, capacity building, leveraging partnerships and knowledge
                        sharing.
                      
                    </p>
                    <a href="#" class="btn btn-primary mb-4" target="_blank">
                    Click here
                </a>
                       <div class="foundations-boxed-line">
                           
                           <div class="row">
                       
                        <div class="col-lg-12">
                            
                             <h2 class="mb-2">
                         <span>Black academics</span> <br><span>advancment</span> programme
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan posuere metus et pulvinar.
                    Nunc elementum ligula et vehicula cursus. Donec in lacus mauris. Pellentesque vel neque neque. Donec consectetur vitae mauris at
                    laoreet. Vivamus eu elit ligula. Quisque id tincidunt odio. Sed id nibh non eros tempus pulvinar et a turpis.
                    Quisque efficitur sem vel mauris auctor, vel efficitur sem pellentesque.

Etiam laoreet tempor augue, sit amet commodo mi efficitur ornare. Mauris sed orci erat. Mauris dui lacus, 
imperdiet ut ornare nec, tincidunt et erat. Fusce pharetra laoreet elit, facilisis faucibus urna sollicitudin in.
Aenean rutrum ultrices metus. Ut odio tellus, varius varius ante sed, tincidunt fringilla ligula. Nullam in tristique magna.</p>
                    
                 <a href="#" class="btn btn-primary mb-4" target="_blank">
                    Funding Framework Documents
                </a>
                
                <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="/media/1802/frb-analysis-of-financial-results-booklet-december-2018.pdf" target="_blank">
                        FRB analysis of financial results booklet - December 2018
                    </a>
                </div></div>
                              
                        </div>
                        
                           </div>  
                                     
                       </div>
                    </div>