﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;
@using Examine.LuceneEngine.SearchCriteria;

@{
    Layout = null;
}

@{Html.RenderAction("RenderTop", "SiteLayout");}
@{Html.RenderAction("RenderTopMenu", "SiteLayout");}

<!-- Header -->
<header class="jumbotron">
    <!-- Page banner -->
    @{
        var Banner = Model.Content.GetPropertyValue<IPublishedContent>("banner");
        <img src="@{ if (Banner != null) {@Banner.Url}}" class="banner">

        //document type aliases
        var documentTypeTheGroup = 1650;
        var documentTypeInvestors = 1534;
        var documentyTypeSociety = 1279;
        var documentyTypeMonitoringEvaluation = 1623;
        var thought_leadership = 1285;
        var management_board = 2020;
    }
</header>
<!-- Page content -->
<section class="page-content">
    <div class="">
        <!-- /Heading section -->
        <div class="row section-heading">
            <div class="col-lg-8 col-md-10 mx-auto">
                @{
                    var search = Request.QueryString["query"];
                }
                <h2 class="heading">
                    Search results for: <span>"@search"</span>
                </h2>
                <form action="~/search/" method="GET" class="">
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Search..." name="query" class="p-1 w-50">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-sm">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /Content section -->
        <div class="row">
            <div class="mx-auto col-lg-8 mt-3">
                <div class="content">
                    @{
                        if (!string.IsNullOrEmpty(search))
                        {
                            //Fetching what eva searchterm some bloke is throwin' our way
                            var q = Request.QueryString["query"];

                            //Fetching our SearchProvider by giving it the name of our searchprovider
                            var Searcher = Examine.ExamineManager.Instance.SearchProviderCollection["MySearchSearcher"];

                            //Searching and ordering the result by score, and we only want to get the results that has a minimum of 0.05(scale is up to 1.)
                            var searchResults = Searcher.Search(q, true).OrderByDescending(x => x.Score).TakeWhile(x => x.Score > 0.031f);

                            if (searchResults != null)
                            {
                                <div class="searchresults">
                                    <ul class="list-unstyled ">
                                        @foreach (var result in searchResults)
                                        {

                                            var item = Umbraco.Content(result.Fields["id"]);
                                            <li>
                                                <h4 class="text-uppercase mb-3">
                                                    <a href="@item.Url">@item.Name</a>
                                                </h4>
                                                <a href="@item.Url">www.firstrand.co.za:@item.Url</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <h4 class="text-uppercase mb-3">
                                    No results for search
                                </h4>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}