﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}

<div class="card-body">

                    <p class="strong">
                        Turbo Finance securitisations
                    </p>

                    <p>
                        Access documentation associated with the Turbo Finance 4 – 7 securitisations by registering on the BOE portal below.
                        You will be directed away from this website to the Moody’s Investors Service Global ABS portal.
                    </p>

                    <a href="https://boeportal.co.uk/GlobalPortal/Account/login.aspx" class="btn btn-primary mb-4" target="_blank">
                        Lewtan’s Global ABS portal
                    </a>
                </div>