﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the contact page *@


@{
    Layout = "WebBase.cshtml";
}


 <div id="" class="card-body " data-parent="">
                <div class="row">
                    <div class="col-md-12">
                        <iframe width="100%" height="450" class="iframesliders"
                                src="https://irhosted.profiledata.co.za/firstrand/2017_feeds/c15a_chartb.aspx"
                                frameborder="0" allowfullscreen></iframe>
                        <iframe width="100%" height="100" class="iframesliders text-frame"
                                src="https://irhosted.profiledata.co.za/firstrand/intraday.htm"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>