﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Collections.Generic;
@using Firstrand.Models;
@using Firstrand.Controllers;
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = "WebBasePerspectives.cshtml";
}

@{

<div class="row articles-list">

    @{ string tag = Request.QueryString["tag"];
        if (!tag.IsNullOrWhiteSpace())
        {
            var publishedContent = Umbraco.TagQuery.GetContentByTag(tag);
            if (publishedContent.Count() > 0)
            {
                foreach (var article in publishedContent.OrderByDescending(i => i.CreateDate))
                {
                    var category = article.GetPropertyValue<IPublishedContent>("category");
                    IPublishedContent author = article.GetPropertyValue<IPublishedContent>("author");

                    var date = article.GetPropertyValue<DateTime>("publishDate");
                    string imageUrl = article.GetPropertyValue<IPublishedContent>("articleImage").Url;
                    <div class="col-lg-3 col-md-4 col-sm-6 wow fadeIn">
                        <div class="caption-container mb-4">
                            <a href="@article.Url">
                                <div class="caption" style="background: url(@imageUrl) no-repeat left top / cover;">
                                    <div class="caption-info"></div>
                                </div>
                            </a>
                            <div class="caption-info">
                                <p class="title">
                                    <a href="@article.Url" class="">@article.Name</a>
                                </p>
                                <p class="description">
                                    @article.GetPropertyValue("articleIntro")
                                </p>
                                <p class="post-info">
                                    @{
                                        if (author != null)
                                        {
                                            @date.ToString("MM.yyyy") @:| @author.Name
                                        }
                                        else
                                        {
                                            @date.ToString("MM.yyyy") @:| Staff Writer
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>
}