﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Extensions;

@*// This template is for the careers page *@


@{
    Layout = null;
}

@{Html.RenderAction("RenderTop", "SiteLayout");}
@{Html.RenderAction("RenderTopMenu", "SiteLayout");}

<!-- Page content -->
<section class="page-content p-0">
    @{
        var simplified_legal_structure = Umbraco.Content(1653);
        var regional_presence_and_operations = Umbraco.Content(1655);
    }
    <div class="container-fluid careers p-0">
        <!-- /Heading section -->
        <div class="row">
            <div class="col-lg-6">
                @{
                    var Banner = Model.Content.GetPropertyValue<IPublishedContent>("banner");
                    if (Model.Content.GetPropertyValue<IPublishedContent>("banner") != null)
                    {
                        <div class="banner-img"
                             style="background: url(@Banner.Url) no-repeat center top; background-size: cover; height: 95vh;">
                        </div>
                    }
                    else
                    {
                        <div class="banner-img"
                             style="background: url(/images/banners/banner-careers.jpg) no-repeat center top; background-size: cover; height: 95vh;">
                        </div>
                    }
                }
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-heading mt-5 pt-5">
                            <h1 class="heading">
                                @{ if (CurrentPage.HasValue("title"))
                                    {
                                        @Umbraco.Field("title")
                                    }
                                    else
                                    {
                                        @CurrentPage.Name
                                    }
                                }
                            </h1>
                            <div class="lead">
                                @{ if (CurrentPage.HasValue("lead"))
                                    {
                                        @CurrentPage.GetPropertyValue("lead")
                                    }
                                }
                            </div>
                        </div>
                        <!-- /Content section -->
                        <div class="content">
                            @*Code Snippet above content*@
                            @{ if (CurrentPage.HasValue("codeSnippetTop"))
                                {@Html.Raw(CurrentPage.GetPropertyValue("codeSnippetTop"))}}
                            @*Renderbody*@
                            @RenderBody()
                            @*Code Snippet below content*@
                            @{ if (CurrentPage.HasValue("codeSnippetBottom"))
                                {@Html.Raw(CurrentPage.GetPropertyValue("codeSnippetBottom"))}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{Html.RenderAction("RenderFooter", "SiteLayout");}
@{Html.RenderAction("RenderBottom", "SiteLayout");}