﻿<div class="row">
    @{
        var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryImages");
        var i = 0;

        foreach (var item in typedMultiMediaPicker)
        {
            i++;
            <div class="col-md-3">
                <a href="@item.Url">
                    <img src="@item.Url"
                         class="img-responsive img-thumbnail"
                         alt="@item.Name"
                         style="margin-bottom: 15px;" />
                </a>
            </div>
            if (i % 4 == 0)
            {
                <div class="clearfix"></div>
            }
        }}
</div>
<div class="full-div">
    <hr class="thin-green-line">
    <div class="volinters-block-contact">
        <h3>CONTACT US</h3>
        <div class="contact-volinters">
            <h4>FirstRand Volunteers</h4>

            <div class="contact-volinters-left">
                <div>Desiree Storey (Programme manager)</div>
                <span>011 282 1773</span>
            </div>
            <div class="contact-volinters-right">
                2
                <div>Nelanie Naidoo (Assistant)</div>
                <span>011 282 4672</span>
            </div>
        </div>
        <div class="contact-volinters-link">
            <a href="mailto:firstrandvolunteers@firstrand.co.za">firstrandvolunteers@firstrand.co.za</a>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
</div>