﻿<div class="monitoring-evaluation">
    <div class="row education-programmes">
        <div class="col-lg-6">
            <div>
                <img src="~/images/content/foundation-corporate.png" alt=""
                     class="img-fluid knowledge-sharing">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeIn">
                <div class="section-heading">
                    <h4>
                        Early Childhood Development
                        Non-Centre Based Care
                        Programme
                    </h4>
                </div>
                <p>
                    This document provides an overview of the results of
                    data obtained from programme partners in the FNB
                    Early Childhood Development Non-Centre Based Care
                    Programme. It reports on two of the programme’s
                    outcomes and provides a summary of the results, an
                    interpretation of what these results mean and a
                    recommendation for improvement. It also provides a
                    breakdown of the results by indicator with supporting
                    data visualisations.
                </p>
                <a href="/media/1889/fr-csi-ecd-non-centre-based-care-me-report-oct-2016.pdf" target="_blank">
                    <span>
                        <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                    </span>
                    <small>
                        View report here
                    </small>
                </a>


            </div>
        </div>
    </div>
    <div class="">

        <div class="section-heading">
            <h4>
                FirstRand Foundation Disability Mainstreaming Resource Kit
            </h4>
        </div>
        <p>
            This Resource Kit, developed by the FirstRand Foundation (FRF), is intended to assist and guide its Programme
            Partners (PPs) to mainstream disability at an organisational, policy and programme/project level. The multiple levels
            of mainstreaming mean that PP’s will be including persons with disabilities both as programme implementers and
            as beneficiaries. This Kit is intended to be a permanent resource for FRF PP’s. It is important to note that it reflects
            the policies, programme and approaches to addressing disability matters at the time of writing, 2016
        </p>

        <table class="table table-dark table-sm table-borderless">
            <tbody>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1893/frf_disability_mainstreaming_resource_kit_creative_arts_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - Creative Arts 2016</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1896/frf_disability_mainstreaming_resource_kit_fsalp_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - FSALP 2016</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1895/frf_disability_mainstreaming_resource_kit_environment_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - Environment 2016</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1898/frf_disability_mainstreaming_toolkit_across_all_sectors_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - Across all sectors 2016</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1894/frf_disability_mainstreaming_resource_kit_ecd_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - ECD 2016</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="~/images/content/icon-pdf.png" alt=""
                             class="icon-pdf">
                    </th>
                    <td>
                        <a href="/media/1897/frf_disability_mainstreaming_resource_kit_tep_final_2016.pdf" target="_blank">
                            <strong>FirstRand Foundation Disability Mainstreaming Resource Kit - TEP 2016</strong> 
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row education-programmes">
            <div class="col-lg-6">
                <div class="wow fadeIn">
                    <div class="section-heading">
                        <h4>
                            The Mathematics Education And Numeracy Chairs’ Programme Final Report
                        </h4>

                    </div>

                    <p>
                        The vision of the programme, is for the private and
                        public sectors in South Africa to collaborate and
                        contribute towards improving mathematics education
                        in South Africa. Drawing upon the intellectual
                        resources at universities in the form of academics
                        and researchers, the programme intends to address
                        the problems which create barriers for the people of
                        South Africa to reach their full potential. These
                        barriers often stem from the lack of access to quality
                        mathematics education at school. The Maths
                        Education and Numeracy Chairs Programme is one
                        of the programmes funded within the education
                        sector. It is a programme initiated by the FirstRand
                        Foundation in partnership with the Rand Merchant
                        Bank Fund, Anglo American Chairman’s Fund and
                        the Department of Science and Technology (DST),
                        and administered by the National Research
                        Foundation (NRF) and Tshikululu Social Investments.
                    </p>
                    <a href="/media/1892/frf_maths_chairs_khulisa_evaluation_end-term_report_june_2016.pdf" target="_blank">
                        <span>
                            <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                        </span>
                        <small>
                            View report here
                        </small>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeIn">
                    <div class="section-heading">
                        <h4>
                            PEP End Term Evaluation
                        </h4>

                    </div>
                    <p>
                        The FNB Primary Education Programme (PEP), funded
                        by the First Rand Foundation / FNB Fund, is dedicated
                        to providing aid and support to the primary education
                        sector. The rational for the PEP is that several studies
                        have shown that there is a limited impact on
                        interventions made at secondary school level if no firm
                        foundation has been laid at primary school level. The first
                        stage of the project involved a three-year pilot study over
                        the 2012/13 to 2015/16 period in two districts in the Free
                        State (Fezile Dabi and Lejweleputswa) and two districts
                        in KwaZulu-Natal(Umgungundlovu and Umlazi). The pilot
                        study involved 20 Free State and 17 KwaZulu-Natal
                        primary schools. Khulisa Management Services (Pty) Ltd
                        was commissioned by the First Rand Foundation and
                        the FNB Fund to conduct an End-Term Evaluation of the
                        FNB PEP. The evaluation focused on school functionality
                        as measured against the key school functionality areas
                        that were also covered in the 2012/2013 baseline
                        assessment study, as well as looking at lessons learned
                        and feasibility of the FNB PEP Strategy.
                    </p>

                    <a href="/media/1891/fr-csi-khulisa-pep-evaluation-final-report-june-2017.pdf" target="_blank">
                        <span>
                            <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                        </span>
                        <small>
                            View report here
                        </small>
                    </a>
                </div>
            </div>
        </div>
        <div class="row education-programmes">
            <div class="col-lg-6">
                <div class="wow fadeIn">
                    <div class="section-heading">
                        <h4>
                            Maths Chair Booklet
                        </h4>

                    </div>

                    <p>
                        Into its ninth year of implementation (2010 – 2018)
                        and second five-year cycle of funding, the MECI
                        programme has made great strides in its goal of
                        improving mathematics teaching and learning in
                        South Africa. As you will glean from the booklet,
                        the Research Chairs, in their individual and
                        collective capacity have identified, designed,
                        researched and implemented innovative solutions
                        for improving inservice mathematics education.
                    </p>
                    <a href="/media/1890/fr-csi-maths-chairs-education-book-2018.pdf" target="_blank">
                        <span>
                            <img src="~/images/content/icon-pdf.png" alt="" class="pdf-icon">
                        </span>
                        <small>
                            View report here
                        </small>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>