﻿<div class="societyCard">
    <div class="row">
        <div class="col-lg-4">
            <div class="gray-block-society">
                FirstRand’s
                shared value
                contract with
                society
            </div>
        </div>
        <div class="col-lg-8 ">
            <p class="mb-0">
                The nature, size and scale of FirstRand’s business activities means
                that it inevitably impacts society in its broadest sense, as a:
            </p>
            <ul class="mb-0">
                <li>systemic provider of credit</li>
                <li>keeper of the country’s deposits and savings</li>
                <li>provider of channels for people to access their funds and spend</li>
                <li>material taxpayer</li>
                <li>large employer</li>

            </ul>
            <p>
                Given this position, FirstRand recognises that it has a
                responsibility to deliver shared value to multiple stakeholders.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 society-text">
            <p>
                <strong>
                    The group's total impact on society extends from the CSI spend by its foundations to
                    how it
                    manages its operations and most importantly, how it deploys its balance sheet
                    and core
                    business activities.
                </strong>
            </p>
        </div>
    </div>
    <div class="bee-credentials sharedvalue">
        <div class="card-columns">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title" style="line-heigt: 1.1;">
                        CSI <br/> (FOUNDATIONS)
                    </h5>

                    <p>
                        Focus on sustainable development goals that do not completely align with
                        core
                        business activities
                    </p>
                    <ul class="pl-3">
                        <li>Strategic allocation of limited funds</li>
                    </ul>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        OPERATIONAL FOOTPRINT
                    </h5>

                    <p class="card-text">
                        Strategic management of resources used in running operations, e.g. energy
                        and water
                        management and procurement
                    </p>
                    <ul class="mb-0 pl-3">
                        <li>Medium scale impact possible</li>
                        <li>Impact limited to group’s immediate value chain</li>
                    </ul>
                </div>
            </div>
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        CORE BUSINESS ACTIVITIES
                    </h5>

                    <p>
                        Strategically incorporates sustainable development goals that align with
                        core
                        business activities
                    </p>
                    <ul class="mb-0 pl-3">
                        <li>High scale impact possible</li>
                        <li>Ability to impact broader ecosystem and society</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="green-block-society-holder position-relative">
            <div class="green-block-society">Scalability and impact grows</div>
            <img src="~/images/elements/green-arrow.png" alt="">
        </div>
        <div class="card-columns">
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 CSI <br> spend
                    </h5>
                    <p class="spend">
                        R342 million*
                    </p>
                </div>
            </div>

            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 total <br> procurement of
                    </h5>

                    <p class="spend">
                        R18 billion
                    </p>
                    <hr>
                    <p class="spend">
                        R3 billion**
                    </p>
                   
                    <h5 class="card-title ">
                        from black-owned  <br> companies
                    </h5>
                </div>
            </div>
            <div class="card wow fadeIn">
                <div class="card-body">
                    <h5 class="card-title">
                        2018 total <br> assets
                    </h5>

                    <p class="spend">
                        R1 532 billion
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bee-credentials__sm">
        <div class="row">
            <div class="card-columns">
                <div class="col">
                    <div class="card wow fadeIn">
                        <div class="card-body">
                            <h5 class="card-title">
                                CSI (FOUNDATIONS)
                            </h5>

                            <p>
                                Focus on sustainable development goals that do not completely align with core
                                business activities
                            </p>
                            <ul>
                                <li>Strategic allocation of limited funds</li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                2018 CSI <br> spend
                            </h5>
                            <p class="spend">
                                R342 million*
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col">
                    <div class="card wow fadeIn">
                        <div class="card-body">
                            <h5 class="card-title">
                                OPERATIONAL FOOTPRINT
                            </h5>

                            <p class="card-text">
                                Strategic management of resources used in running operations, e.g. energy and water
                                management and procurement
                            </p>
                            <ul class="mb-0">
                                <li>Medium scale impact possible</li>
                                <li>Impact limited to group’s immediate value chain</li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                2018 total <br> procurement of
                            </h5>

                            <p class="spend">
                                R18 billion
                            </p>
                            <hr>
                            <p class="spend">
                                R3 billion**
                            </p>
                            <p class="">
                                from black-owned <br> companies
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card wow fadeIn">
                        <div class="card-body">
                            <h5 class="card-title">
                                CORE BUSINESS ACTIVITIES
                            </h5>

                            <p>
                                Strategically incorporates sustainable development goals that align with core
                                business activities
                            </p>
                            <ul class="mb-0">
                                <li>High scale impact possible</li>
                                <li>Ability to impact broader ecosystem and society</li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                2018 total <br> assets
                            </h5>

                            <p class="spend">
                                R1 532 billion
                            </p>
                        </div>
                    </div>
                </div>
            </div>






        </div>
        <div class="green-block-society-holder position-relative">
            <div class="green-block-society">Scalability and impact grows</div>
            <img src="~/images/elements/green-arrow.png" alt="">
        </div>

    </div>
    <div class="mt-2">
        <div class=" multiple-block">
           <div class="head-multiple-block"> Multiple of 4400 times</div>
            
             <img src="~/images/arrow-left.png" class="arrow__1_left ">
               <img src="~/images/arrow-right.png" class="arrow__1_right">
             
        </div>
        <hr class="mt-2 multiple-block-line">
    </div>
    <div class="mb-4">
        <p class="small">
            *&nbsp;&nbsp;&nbsp;FirstRand Foundation, FirstRand Empowerment Foundation and FirstRand Staff Assistance
            Trust.
            <br>
            **&nbsp;R3.7 billion using Financial Sector Charter (FSC) multipliers.
        </p>
    </div>
</div>

<div>
    <p>

        The impact of a business the size and scale of FirstRand is complex, and the measurement
        landscape
        and tools are new compared to financial reporting.
    </p>
    <p>
        The group is developing a bespoke measurement
        framework designed to measure holistic impact to better understand whether products and
        services
        are
        net positive social contributors or net socially extractive. The group's long-term
        aspiration is
        to
        use these insights to drive business strategy as equally as conventional economic
        factors currently
        do. The group believes that to earn public trust it must, by design, align business
        priorities
        with
        that of society; this will ensure the group's sustainable growth and relevance in the long
        term.
    </p>
    <p>
        For more detail on the group's shared value contract with society and our progress to date,
        refer to the
        group report to society.
    </p>
    <a href="#" class="btn btn-primary">
        Report to society
    </a>
</div>

<div class="jumbotron bg-green text-white social-investing-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto wow fadeIn">
                <h2>
                    <span>
                        environmental and <br>
                        social risk
                    </span>management
                </h2>
                <p>
                  FirstRand has a role to play in the effective management of environmental and social risks of its lending and investment decisions,
                   product and service offerings, own organisational impacts, and promoting responsible practice through its value chains. <br>
                   The FirstRand environmental sustainability policy, together with the environmental and social risk assessment (ESRA) due diligence process,
                    commits the group to review and manage these environmental and social impacts. FirstRand group has policy 
                    statements on environmental sustainability, climate change and excluded and sensitive industries, 
                    which are used to govern the group’s finance activities.
                </p>
                
                 <table class="table table-dark table-sm table-borderless table-dark-transparent">
                        <tbody>

                            <tr>
                                 <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="/media/1801/firstrand-interim-results-media-release-12-march-2019.pdf" target="_blank">
                        FirstRand interim results media release - 12 March 2019
                    </a>
               </div></div><div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="/media/1800/fsr-interim-results-sens-announcement-dec-2018.pdf" target="_blank">
                        FSR interim results SENS announcement - Dec 2018
                    </a>
               </div></div><div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="/media/1799/fsr-interim-results-presentation-december-2018.pdf" target="_blank">
                        FSR interim results presentation - December 2018
                    </a>
               </div></div><div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="/media/1798/fsr-analysis-of-financial-results-booklet-december-2018.pdf" target="_blank">
                        FSR analysis of financial results booklet = December 2018
                    </a>
               </div></div>
                            </tr>

                        </tbody>
                    </table>
            </div>
             
        </div>
    </div>
</div>

<div>
    <div class="row wow fadeIn">
        <div class="col-lg-12">
            <h3>
                Equator principles report
            </h3>
            <p>
                FirstRand became an Equator Principles (EP) signatory in 2009 to provide a
                specialised
                subset of
                its ESRA process to RMB. The adoption of EP demonstrates long-term commitment to
                responsible
                lending.
            </p>
            <p>
                EP performance reporting is externally assured by an independent third party in line
                with the requirements set out by the EP Association.
            </p>
            <p>
                The EP performance reporting was previously
                included in the FirstRand environmental and social risk report. From 2018, this
                report forms
                part of the report to society.
            </p>

        </div>
        <div class="col-lg-12 wow fadeIn">
            <table class="table table-dark table-sm table-borderless">
                <tbody>
                    <tr>
                       <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                            <a href="~/media/1877/2012-ep-report.pdf" target="_blank">
                                Equator principles report - 2012
                            </a>
                       </div></div>

                    </tr>
                    <tr>
                        <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                            <a href="~/media/1878/2013-ep-report.pdf" target="_blank">
                                Equator principles report - 2013
                            </a>
                        </div></div>

                    </tr>
                    <tr>
                       <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                            <a href="~/media/1876/2016-firstrand-climate-change-and-energy-report.pdf" target="_blank">
                                FirstRand climate change and energy report - 2016
                            </a>
                       </div></div>

                    </tr>
                    <tr>
                        <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                            <a href="~/media/1879/2016-environmental-and-social-risk-assessment-report.pdf" target="_blank">
                                Environmental and social risk assessment report - 2016
                            </a>
                      </div></div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>