﻿<div class="volunteers">
    <p>
        The programme strategy offers group drive incentives aligned to FirstRand’s shared value
        proposition and the goals of the Integrated Development Plan. Employees are encouraged and
        empowered to select and support registered organisations in their own communities.
    </p>
    <div class="row mb-5">
        <div class="col-lg-4">
            <div class="block-volunteers">
                <p>
                    Over the past three years, more than<br><span class="number-large">2 800</span>
                    <br><strong>employees</strong>
                    have donated an average of <br><span class="number-large">12 400</span><br>
                    <strong>hours</strong> of their time each year to their chosen projects.
                </p>
            </div>
            <div class="block-volunteers">
                <p>
                    In 2018, employees across the divisions of the group registered and supported<br>  <span class="number-large">101</span> <br> <strong>schools</strong><br>  <span class="number-large">40</span>
                    <strong>ECD centres</strong> <br> <span class="number-large">106</span> <strong>
                        non-profit<br>
                        organisations
                    </strong> across multiple sectors.
                </p>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <h6>
                    Summary of FirstRand volunteers in 2018
                </h6>
                <p>
                    In 2018, over 54% of employee support was for schools, early childhood development and
                    non-profit organisations in the education sector. The balance of support was across
                    multiple sectors, such as animal welfare, community care, people with disabilities and
                    youth development.
                </p>
                <p>
                    The programme's annual School Education Drive assisted employees
                    with financial support for under-resourced early childhood development centres, primary
                    schools and high schools in their communities. Teams from 120 FirstRand business units
                    matched with 120 schools, qualified for the programme grants resulting in a cumulative
                    R1.2 million donation to uplift the education sector.
                </p>
                <p>
                    Volunteer teams assisted their
                    chosen schools with the purchase of school shoes, uniforms, library books, stationery,
                    sports equipment, educational toys, female hygiene products, winter jackets, nursery
                    school box kits, interactive white boards, catering for tutoring sessions, classroom air
                    conditioning and new equipment for cooking classes. They also helped erect libraries,
                    reading corners and jungle gyms, repaired toilets and revamped playgrounds.
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-gray-1">

    </div>

    <div class="mb-5">
        <div class="row">
            <div class="col-lg-6 bg-gray-hidden">
                <div class="content">
                    <h3>
                        <strong>
                            Support for FirstRand Volunteers
                        </strong>
                    </h3>

                    <p>
                        The FirstRand Volunteers Programme offers a structured, resourced programme, ongoing
                        facilitation and support, a variety of volunteering opportunities, innovative group
                        drives,
                        ongoing training workshops, an intranet platform, matched funding (financial support)
                        and an
                        annual awards programme to inspire and encourage employees to participate.
                    </p>

                    <p>
                        Programme management
                        sources organisations and initiatives for support. Employees are matched R1 for R1 for
                        donations
                        of both time and money to give back to their chosen beneficiary organisations. Various
                        forms of
                        internal and external division communication channels and platforms are used to
                        encourage
                        participation including plasma screens, newsletters and division intranet sites. An
                        annual
                        awards celebration also broadens and inspires support.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3>
                        <strong>
                            How employees at FirstRand give back
                        </strong>
                    </h3>

                    <p>
                        The programme strives to offer employees a choice of volunteering opportunities to suit
                        their different social interests, careers and workloads, lifestyle and personal
                        commitments.
                    </p>

                    <div class="border-solid">
                        <h6>
                            FirstRand employees are able to:
                        </h6>
                        <ul>
                            <li>
                                coordinate volunteer programmes in their own division or business unit
                            </li>
                            <li>
                                join existing programmes and initiatives currently running in their business
                                unit
                            </li>
                            <li>
                                volunteer in their individual capacity for an organisation of their choice
                            </li>
                            <li>
                                share time, skills and knowledge, and assist with capacity building at
                                non-profit
                                organisations
                            </li>
                            <li>
                                mentor high school learners and university students
                            </li>
                            <li>
                                contribute to monthly payroll giving programmes
                            </li>
                            <li>
                                register for current group drive incentives.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="group-drives">
                    <h2 class="mb-2">
                        annual <span>group drives</span>
                    </h2>
                    <h5>
                        Annual school education drive 2018
                    </h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <img src="~/images/content/support.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="container section-gallery">
            <div class="row">
                <div class="col-lg-3">
                    <a href="~/images/gallery/rmb.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/rmb.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/rmb.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="~/images/gallery/fnb.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/fnb.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/fnb.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="~/images/gallery/firstrand.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/firstrand.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/firstrand.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="~/images/gallery/volunteers.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/volunteers.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/volunteers.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="~/images/gallery/volunteers.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/volunteers.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/volunteers.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="~/images/gallery/firstrand.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/firstrand.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/firstrand.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="~/images/gallery/rmb.png" data-toggle="lightbox"
                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/rmb.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/rmb.png) no-repeat center top / cover;">
                        </div>

                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="~/images/gallery/fnb.png" data-toggle="lightbox"
                                       data-gallery="gallery">
                        <img class="img-fluid" src="~/images/gallery/fnb.png" alt="">
                        <div class="gallery-image"
                             style="background: url(~/images/gallery/fnb.png) no-repeat center top / cover;">
                        </div>
                    </a>
                </div>
             

                <div class="col-lg-12 text-center">
                    <div class="text-center gallery-footer">
                        <p class="text-muted mt-4">
                            <a href="~/images/gallery/fnb.png" class="more-gallery" data-toggle="lightbox"
                                       data-gallery="gallery">
                                See all
                            </a>
                        </p>

                        <a href="mailto:firstrandvolunteers@firstrand.co.za">
                            <img src="~/images/icons/email-icon.png" alt="" class="img-fluid">

                            <p class="content">
                                Contact us on firstrandvolunteers@firstrand.co.za for more
                                information
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>