﻿<div class="light-green-box">
    <h4>
        APPLICATIONS FOR THE 2018 FIRSTRAND OXFORD AFRICAN Studies scholarship TO THE UNIVERSITY OF OXFORD WILL OPEN ON
        16 DECEMBER 2017 AND CLOSE 22 FEBRUARY 2018.
    </h4>
</div>