﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="row">
    <div class="contact-block">
        <h3 class="text-uppercase">
            Here are a few ways you can reach us.
        </h3>
        <hr class="dotted-line">
        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-uppercase">
                        How can we help you?
                    </h4>

                    <p>&nbsp;</p>
                    <h4>General Enquiries:</h4>

                    <p>
                        <a href="mailto:info@firstrand.co.za">info@firstrand.co.za</a>
                    </p>
                    <p>
                        Investor relations: <a href="mailto:investor.relations@firstrand.co.za">investor.relations@firstrand.co.za</a>
                    </p>
                    <p>
                        Governance and administrative queries: <a href="mailto:legal@firstrand.co.za">legal@firstrand.co.za</a>
                    </p>

                    <h4>Marketing and advertising:</h4>

                    <p>Ashburton investments: <a href="mailto:marketing@ashburthon.co.za">marketing@ashburthon.co.za</a></p>
                    <p>FNB: <a href="mailto:marketing@fnb.co.za">marketing@fnb.co.za</a></p>
                    <p>RMB: <a href="mailto:marketing@rmb.co.za">marketing@rmb.co.za</a></p>
                    <p>WesBank: <a href="mailto:legal@firstrand.co.za">marketing@wesbank.co.za</a></p>
                    <p>Aldermore: <a href="mailto:marketing@aldermore.co.za">marketing@aldermore.co.za</a></p>

                    <h4>Careers related:</h4>

                    <p>
                        FirstRand careers website <a href="https://www.firstrandjobs.mobi/">https://www.firstrandjobs.mobi/</a>
                    </p>

                    <p>
                        FirstRand scholarships <a href="mailto:investor.relations@firstrand.co.za">
                            International Post-graduate
                            scholarships
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>HEAD OFFICE - JOHANNESBURG, SOUTH AFRICA</h4>

                    <p>&nbsp;</p>
                    <h4>Contact numbers:</h4>

                    <p>
                        Telephone: +27 11 282 1808<br>
                        Fax: +27 11 282 1088
                    </p>

                    <h4>Physical address:</h4>
                    <p>
                        4 Merchant Place<br>
                        Corner Fredman Drive &amp; Rivonia Road<br>
                        Sandton<br>
                        2196
                    </p>

                    <p><a href="">Open in Google Maps</a></p>

                    <h4>Postal address</h4>
                    <p>
                        PO Box 650149<br>
                        Benmore<br>
                        2010
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="full-div padding-left-inside">
        <h2 class="padding-left-inside-heading">LOCATION</h2>
    </div>
    <div class="map-frame">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.936851263109!2d28.054171315027972!3d-26.100979983483928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95732f26549b3b%3A0x6976238775857e33!2sFirstRand+Bank+Ltd!5e0!3m2!1sen!2s!4v1508344021503"
                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <p>&nbsp;</p>
</div>