﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="full-div">
    <div class="full-div">
         <button type="button" class="btn landing-btn-primary ivestor-btn ivestor-btn-active" id="monthly1">
            DAY 1 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
        <button type="button" class="btn landing-btn-primary ivestor-btn" id="monthly2">
            DAY 2 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    </div>
    <div class="full-div" id="disclosure1" style="display: block;">
        <div class="col-md-8">
            <div class="boxed-classroom">
                <div class="class-links">
                   @{
                    var selection = Umbraco.TypedContent(1484).Children("workshopPresentation")
                    .Where(x => x.IsVisible()).OrderBy("UpdateDate desc");
                    }
                    @foreach(var item in selection){
                    <a href="/media/1056/download.pdf" target="_blank"><img src="/images/pdf_icon.png" alt="">@item.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>

     <div class="full-div" id="disclosure2" style="display: none;">
        <div class="col-md-8">
            <div class="boxed-classroom">
                <div class="class-links">
                    <a href=""><img src="../../../images/pdf_icon.png" alt="">Lindiwe and Frank - George Khosa Secondary
                        School</a>
                </div>
            </div>
        </div>
    </div>
</div>