﻿<div class="group-strategy">
    <div class="section-heading wow fadeIn">
        <h2 class="heading">
            <span> group </span> strategy
        </h2>

        <p class="lead">
            As demonstrated in the schematic below, the group's strategic framework accommodates a broad
            set of growth opportunities across the financial services universe from <strong>
                a product,
                market,
                segment and geographic perspective.
            </strong>
        </p>

        <h3>
            Group strategic framework
        </h3>

        <div class="card mb-2 border-none text-center">
            <p class="card-header">
                FirstRand aims to create long-term franchise value, ensure sustainable and superior returns
                for
                shareholders within acceptable levels of volatility and maintain balance sheet strength
            </p>
        </div>

        <div class=" row gray-and-white-block__small_divice mb-5">
            <img src="../images/framework.jpg" class="img-fluid" />
        </div>
        <div class="Gray-block wow fadeIn">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="header-text">Delivered through current strategies:</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="white-block-black first-white-block">
                        <br><span>Protect and grow</span> <br>banking franchises<br>&nbsp;
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="block-dotted-line">
                        <div class="header-text">Increase DIVERSIFICATION - activity and geography</div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="white-block-black">
                                    <span>Broaden</span> financial<br> services
                                    <span>offering</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="white-block-black">
                                    <span>Portfolio</span> approach <br>to <span>rest of Africa</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="white-block-black">
                                    Build a <span>sustainable UK<br> business</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-block-white">
            <div class="row">
                <div class="col-md-6">
                    <div class="white-block-black-line group-squareline1"></div><br>
                    
                    <div class="country-block-head">SOUTH AFRICA</div>
                    <img src="~/images/arrow-down.png" class="arrow__1" />
                    <div class="country-block-text">Build a truly integrated <br> financial services business</div>
                </div>
                <div class="col-md-3">
                    <div class="white-block-black-line group-squareline2"></div><br>
                       <img src="~/images/arrow-down.png" class="arrow__2" />
                    <div class="country-block-head">REST OF AFRICA</div>
                    <div class="country-block-text">Better leverage <br>existing portfolio</div>
                </div>
                <div class="col-md-3">
                    <div class="white-block-black-line group-squareline3"></div><br>
                    <div class="country-block-head">UK</div>
                       <img src="~/images/arrow-down.png" class="arrow__3" />
                    <div class="country-block-text">Integrate, <br> scale and grow</div>
                </div>
            </div>
        </div>

        

            <div class="card mb-2 size_f">
                <div class="card-body text-center p-2 ">
                    <strong><p class="mb-0">Underpinned by disciplined management of financial resources</p></strong>
                </div>
            </div>
            <div class="card  size_f">
                <div class="card-body text-center p-2">
                    <strong><p class="mb-0">Enabled by disruptive digital and data platforms</p></strong>
                </div>
           
        </div>

       
    </div>
  
</div>