﻿<div class="investor-information">
    <h3>
        key facts and important dates
    </h3>
    <p class="lead">
        financial snapshot <br>
    </p>
    <p class="small">
        for the year ended 30 June 2018
    </p>
    <div class="assets">
       <div class="row ">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Normalised <br /> total assets
                        </h5>

                        <p class="number-large">
                            R1 532.3<span>bn</span>
                        </p>

                        <hr>

                        <p class="number">
                            $111.0bn
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="card ">
                        <div class="card-body">
                            <div class="border_">
                                <h5 class="card-title">
                                    Normalised ROE
                                </h5>

                                <p class="number-large">
                                    23.0 <small>%</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Normalised <br /> earnings
                        </h5>

                        <p class="number-large">
                            R26.4<span>bn</span>
                        </p>

                        <hr>

                        <p class="number">
                            $2.1bn
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Normalised <br /> net asset value
                        </h5>

                        <p class="number-large">
                            R121.0<span>bn</span>
                        </p>

                        <hr>

                        <p class="number">
                            $8.8bn
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-inline conversion-rates">
            <li class="list-inline-item title">conversion rates</li>
            <li class="list-inline-item"><strong>Balance sheet</strong></li>
            <li class="list-inline-item text-muted">$1 = R13.80</li>
            <li class="list-inline-item"><strong>Income Statement</strong></li>
            <li class="list-inline-item text-muted">$1 = R12.82</li>
        </ul>
    </div>
    <div class="operational-statistics wow fadeIn">
        <h4 class="mb-0">operational statistics</h4>

        <p class="text-muted">
            as at 30 June 2018
        </p>

       <div class="row">
            <div class="col-lg-4 block">
                <div class="circle-5">
                    <div class="circle circle-1">
                    <p class="intro mt-4">Number <br> of employees</p>

                    <p class="number ">
                        46 284
                    </p>
                </div>
                    
                </div>
                
            </div>
            <div class="col-lg-4 block">
                <div class="circle-5">
                    <div class="circle circle-2">
                    <p class="intro mt-3">Physical <br> representation <br> points</p>

                    <p class="number ">
                        801
                    </p>


                </div>
                    
                </div>
                
            </div>
            <div class="col-lg-4 block">
                <div class="circle-5">
                    <div class="circle circle-3">
                    <p class="intro mt-3">ATMs</p>

                    <p class="number ">
                        6 596
                    </p>
                </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="important-dates jumbotron pull-up_">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto pt-4">
                <div class="col-lg-12 wow fadeIn">
                    <h3 class="text-center" id="important-dates">
                        <strong>
                            important dates
                        </strong>
                    </h3>

                    <div class="row">
                        <div class="col-lg-3 border-right-dotted">
                            <div class="date ">
                                <h4>
                                    Reporting
                                </h4>

                                <p class="text-muted small">
                                    financial year end
                                </p>

                                <p class="strong">
                                    30 Jun
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 border-right-dotted">
                            <div class="date ">
                                <h4>
                                    Interim results
                                </h4>

                                <p class="text-muted small">
                                    for the six months ended <br> 31 December 2018
                                </p>

                                <p class="strong">
                                    12 Mar 2019
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 border-right-dotted">
                            <div class="date ">
                                <h4>
                                    Financial results
                                </h4>

                                <p class="text-muted small">
                                    for the year ending <br> 30 June 2019
                                </p>

                                <p class="strong">
                                    05 Sep 2019
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="date">
                                <h4>
                                    AGM
                                </h4>

                                <p class="text-muted small">
                                    2019 annual general meeting
                                </p>

                                <p class="strong">
                                    29 Nov 2019
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>