﻿<div class="portfolio-operating-businesses">
    <a href="https://www.fnb.co.za/" target="_blank" title="FNB"><img src="~/images/logos/FNB.png" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            Retail and commercial banking and insurance
        
    </h5>

    <p>
        FNB represents FirstRand's activities in the retail and commercial segments in South Africa
        and the broader African continent. It is growing its franchise on the back of a compelling
        customer offering that provides a broad range of innovative financial services products.
    </p>



    FNB's strategy is to:

    <ul class="">
        <li>grow and retain core transactional accounts</li>
        <li>
            provide market-leading digital platforms to deliver cost effective and innovative
            transactional propositions to its customers
        </li>
        <li>
            use its deep customer relationships and sophisticated data analytics to effectively
            cross-sell
            and up-sell a broad range of financial services products
        </li>
        <li>apply disciplined origination strategies</li>
        <li>provide innovative savings products to grow its retail deposit franchise</li>
        <li>right-size its physical infrastructure to achieve efficiencies</li>
    </ul>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.fnb.co.za/" target="_blank" title="FNB"><div class="about-readmore">view website</div></a></div>
    </div>
    


    <a href="https://www.rmb.co.za/" target="_blank" title="RMB"><img src="~/images/logos/RMB.jpg" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            Corporate and investment bank
        
    </h5>

    <p>
        RMB represents the group's activities in the corporate and investment banking segments in South
        Africa, the broader African continent and India. The strategy leverages an entrenched
        origination franchise, a growing market-making and distribution product offering, and a strong
        private equity track record to ensure delivery of an integrated corporate and investment banking
        (CIB) value proposition to corporate and institutional clients. This diversified business
        portfolio, coupled with a disciplined approach to balancing risk, return and growth is designed
        to deliver sustainable earnings, balance sheet resilience and market-leading returns.

    </p>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.rmb.co.za/" target="_blank" title="RMB"><div class="about-readmore">view website</div></a></div>
    </div>
    

    <a href="https://www.wesbank.co.za/wesbankcoza/index.xhtml" target="_blank" title="WesBank"> <img src="~/images/logos/Wesbank.jpg" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            Instalment finance business
        
    </h5>

    <p>
        WesBank represents the group's activities in instalment credit and related services in the retail, commercial and corporate segments of South Africa. WesBank’s leading position is due to its longstanding alliances with leading motor manufacturers, suppliers and dealer groups, strong point-of-sale presence and innovative channel origination strategies.

    </p>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.wesbank.co.za/wesbankcoza/index.xhtml" target="_blank" title="WesBank"><div class="about-readmore">view website</div></a></div>
    </div>
    

    <a href="https://www.aldermore.co.uk/" target="_blank" title="Aldemore"><img src="~/images/logos/aldermore.jpg" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            UK specialist bank
        
    </h5>

    <p>
        Aldemore is a UK specialist lender and savings bank, which has grown significantly on the back
        of a clear strategy to offer simple financial products and solutions to meet the needs of
        underserved small and medium-sized enterprises (SMEs), as well as homeowners, professional
        landlords and savers.
        <br /><br />

        Aldemore focuses on specialist lending across five areas: asset finance, invoice finance, SME
        commercial mortgages, residential mortgages and buy-to-let. It is funded primarily by deposits
        from UK savers. With no branch network, it serves customers and intermediary partners online, by
        phone and face-to-face through a network of nine regional offices located around the UK.
        <br /><br />
        Aldemore's commitment to exceptional service, total transparency and its vision to deliver
        "banking as it should be" has resulted in a genuinely differentiated customer proposition.

    </p>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.aldermore.co.uk/" target="_blank" title="Aldemore"><div class="about-readmore">view website</div></a></div>
    </div>

    

    <a href="https://www.ashburtoninvestments.com/za/individual-investor/home" target="_blank" title="Ashburton"><img src="~/images/logos/Ashuburton.jpg" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            Asset management
        
    </h5>

    <p>
        Ashburton's portfolio consists of a traditional range of equity, fixed income and multi-asset
        funds. Its long-standing international offshore multi-asset range has recently been strengthened
        through an investment partnership with Fidelity International. This range is well positioned for
        South African investors looking to diversify into international markets.

    </p>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.ashburtoninvestments.com/za/individual-investor/home" target="_blank" title="Ashburton"><div class="about-readmore">view website</div></a></div>
    </div>
    

    <a href="https://www.firstrand.co.za/Pages/Firstrand.aspx" target="_blank" title="FCC"><img src="~/images/logos/FCC.jpg" alt="" class="img-h-50"></a>

    <h5 class="mb-3">
        
            Group-wide functions
        
    </h5>


    Key activities include:

    <ul class="">
        <li>
            Treasury and associated risk functions (including capital management, funding, liquidity
            risk management, non-traded market risk, SWIFT and settlement)
        </li>
        <li>Group tax services</li>
        <li>Financial and regulatory reporting</li>
        <li> Enterprise and regulatory risk management</li>
        <li> Internal audit</li>
    </ul>
    <div class="full-div">
        <div class="about-btn"><div class="dot-btn"></div><a href="https://www.firstrand.co.za/Pages/Firstrand.aspx" target="_blank" title="FCC"><div class="about-readmore">view website</div></a></div>
    </div>
</div>