﻿<div class="row">
    <div class="col-md-12">
        <div class="sens" id="demo"></div>
    </div>
    <!--<div class="tab-pane fade" id="tab2danger">-->
    <!--<div class="sens" id="demo1"></div>-->
    <!--</div>-->
    <!--<div class="tab-pane fade" id="tab3danger">-->
    <!--<div class="sens" id="demo2"></div>-->
    <!--</div>-->
    <script>
                            function loadXMLDoc() {
                                var xmlhttp = new XMLHttpRequest();
                                xmlhttp.onreadystatechange = function () {
                                    if (this.readyState == 4 && this.status == 200) {
                                        myFunctions(this);
                                    }
                                };
                                xmlhttp.open("GET", "https://irhosted.profiledata.co.za/firstrand/sens.xml", true);
                                xmlhttp.send();
                            }
                            function myFunctions(xml) {
                                var i;
                                var xmlDoc = xml.responseXML;
                                var table = "";
                                var x = xmlDoc.getElementsByTagName("Headline");
                                for (i = 0; i < x.length; i++) {
                                    table += "<a href='" +
                                            x[i].getElementsByTagName("Link")[0].childNodes[0].nodeValue + "' target='_blank'> <div class='sens-box'><div class='sens-date'>" +
                                            x[i].getElementsByTagName("PubDate")[0].childNodes[0].nodeValue +
                                            "</div><div class='sens-name'>" +
                                            x[i].getElementsByTagName("HeadlineText")[0].childNodes[0].nodeValue +
                                            "</div></div></a>";
                                }
                                document.getElementById("demo").innerHTML = table;
                                document.getElementById("demo1").innerHTML = table;
                                document.getElementById("demo2").innerHTML = table;
                            }

                            loadXMLDoc();
    </script>
</div>