﻿<div class="simplified-legal-structure">
    <div class="justify-content-center">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 903 279">
            <defs>
                <style>
                    .cls-1, .cls-15, .cls-17, .cls-2 {
                        fill: none;
                    }

                    .cls-15, .cls-2 {
                        stroke: #231f20;
                    }

                    .cls-2 {
                        stroke-width: 0.3px;
                    }

                    .cls-3 {
                        font-size: 11.7px;
                        font-family: "HelveticaLight", Fallback, sans-serif;
                    }

                    .cls-14, .cls-3, .cls-6 {
                        fill: #231f20;
                    }

                    .cls-4 {
                        fill: #fff;
                    }

                    .cls-5 {
                        fill: #dbe0e4;
                        stroke: none;
                    }

                    .cls-6 {
                        font-size: 13px;
                        font-family: "HelveticaLight", Fallback, sans-serif;
                    }

                    .cls-7 {
                        letter-spacing: 0.01em;
                        font-size: 14.21px;
                    }

                    .cls-8 {
                        letter-spacing: 0em;
                    }

                    .cls-9 {
                        fill: #c7e2eb;
                    }

                    .cls-10 {
                        fill: #d0e2ef;
                    }

                    .cls-11 {
                        fill: #dee8db;
                    }

                    .cls-12 {
                        fill: #bbcbdc;
                    }

                    .cls-13 {
                        clip-path: url(#clip-path);
                    }

                    .cls-15 {
                        stroke-width: 1.67px;
                    }

                    .cls-16 {
                        fill: #e2e3e4;
                    }

                    .cls-17 {
                        stroke: #e2e3e4;
                        stroke-width: 0.06px;
                    }
                </style>
                <clipPath id="clip-path"><rect class="cls-1" x="377.02" y="192.8" width="151.94" height="78.9" /></clipPath>
            </defs>
            <title>group-structure-top</title>
            <polyline class="cls-2" points="647.37 188.14 647.54 256.08 570.11 256.02" />
            <polyline class="cls-2" points="575.6 250.97 570.11 256.02 575.59 261.08" />
            <line class="cls-2" x1="453.69" y1="132.89" x2="453.69" y2="148.43" />
            <text class="cls-3" transform="translate(439.01 161.92) scale(1.01 1)">34.1%</text>
            <rect class="cls-2" x="430.04" y="148.68" width="46.96" height="18.11" />
            <polyline class="cls-2" points="685.25 45.76 685.25 116.18 571.64 116.19" />
            <polyline class="cls-2" points="577.12 111.13 571.64 116.19 577.12 121.24" />
            <line class="cls-2" x1="453.69" y1="45.76" x2="453.69" y2="95.53" />
            <polyline class="cls-2" points="458.79 90.09 453.69 95.53 448.59 90.09" />
            <polyline class="cls-2" points="273.38 45.76 273.38 116.18 336.07 116.19" />
            <polyline class="cls-2" points="330.59 111.13 336.07 116.19 330.59 121.24" />
            <polyline class="cls-2" points="221.41 48.7 221.41 256.02 335.82 256.02" />
            <polyline class="cls-2" points="330.33 250.97 335.82 256.02 330.33 261.08" />
            <rect class="cls-4" x="250.15" y="63.2" width="46.97" height="18.12" />
            <text class="cls-3" transform="translate(259.13 76.44) scale(1.01 1)">28.2%</text>
            <rect class="cls-2" x="250.15" y="63.2" width="46.97" height="18.12" />
            <rect class="cls-5" x="577.94" y="18.26" width="214.64" height="30.19" />
            <text class="cls-6" transform="translate(588.98 38.43) scale(1.01 1)">Royal Bafokeng Holdings (Pty) Ltd</text>
            <rect class="cls-2" x="577.94" y="18.26" width="214.64" height="30.19" />
            <rect class="cls-9" x="345.89" y="17.76" width="214.64" height="30.19" />
            <text class="cls-6" transform="translate(429.33 37.92) scale(1.01 1)">Directors</text>
            <rect class="cls-2" x="345.89" y="17.76" width="214.64" height="30.19" />
            <rect class="cls-10" x="346.62" y="102.95" width="214.13" height="30.19" />
            <text class="cls-6" transform="translate(395.29 123.11) scale(1.01 1)">RMB Holdings Limited</text>
            <rect class="cls-2" x="346.62" y="102.95" width="214.13" height="30.19" />
            <rect class="cls-11" x="113.84" y="18.26" width="214.64" height="30.19" />
            <text class="cls-6" transform="translate(179.1 38.43) scale(1.01 1)">Remgro Limited</text>
            <rect class="cls-2" x="113.84" y="18.26" width="214.64" height="30.19" />
            <rect class="cls-12" x="579.41" y="157.59" width="136.26" height="30.19" />
            <text class="cls-6" transform="translate(613.44 177.76) scale(1.01 1)">BEE partners</text>
            <rect class="cls-2" x="579.41" y="157.59" width="136.26" height="30.19" />
            <rect class="cls-4" x="624.75" y="206.85" width="46.96" height="18.12" />
            <text class="cls-3" transform="translate(636.56 220.09) scale(1.01 1)">5.2%</text>
            <rect class="cls-2" x="624.75" y="206.85" width="46.96" height="18.12" />
            <rect class="cls-4" x="430.04" y="63.21" width="46.96" height="18.11" />
            <text class="cls-3" transform="translate(441.84 76.44) scale(1.01 1)">6.2%</text>
            <rect class="cls-2" x="430.04" y="63.21" width="46.96" height="18.11" />
            <rect class="cls-4" x="661.78" y="63.2" width="46.97" height="18.12" />
            <text class="cls-3" transform="translate(670.75 76.44) scale(1.01 1)">12.5%</text>
            <rect class="cls-2" x="661.78" y="63.2" width="46.97" height="18.12" />
            <line class="cls-2" x1="453.69" y1="185.64" x2="453.69" y2="167.39" />
            <polyline class="cls-2" points="458.79 180.2 453.69 185.63 448.59 180.2" />
            <rect class="cls-4" x="197.68" y="63.2" width="46.97" height="18.12" />
            <text class="cls-3" transform="translate(209.49 76.44) scale(1.01 1)">3.9%</text>
            <rect class="cls-2" x="197.68" y="63.2" width="46.97" height="18.12" />
            <g class="cls-13"><path class="cls-14" d="M482.29,269.2a4.7,4.7,0,0,1-3,.89c-2.71,0-2.82-2.07-2.82-2.6a2.38,2.38,0,0,1,1.64-2.43,13.08,13.08,0,0,1,4.14-.56Zm5.44.82-.31-.36a1.16,1.16,0,0,1-.77.23c-1.4,0-1.4-1.15-1.4-2.1s.11-3.78.11-6.05a7.15,7.15,0,0,0-.7-3.88c-.73-1.06-2-1.81-4.45-1.81-3.42,0-4.92,2-5.27,3.06l.49.29a4,4,0,0,1,3.48-1.81c1.5,0,2.69.5,3.18,1.88a11.22,11.22,0,0,1,.2,2.76v1.38a26.7,26.7,0,0,0-5.74.46,3.66,3.66,0,0,0-3.07,3.68c0,.63.11,3.88,4.5,3.88a5.29,5.29,0,0,0,4.38-2.07c0,1.32.91,2,2.3,2a3.8,3.8,0,0,0,3.07-1.58" /><path class="cls-14" d="M459.54,260.92a10.24,10.24,0,0,1-1.11.06,9,9,0,0,1-2.4-.23v-9.7a10.75,10.75,0,0,1,1.7-.13c2.23,0,5.4.52,5.4,4.83,0,3.39-1.67,4.87-3.59,5.17m12.3,10.45v-.46c-1.46,0-2.92-1.31-4.6-3.12-2.09-2.24-5.78-6.32-5.78-6.32,2.61-.75,5-2.69,5-6,0-1.42-.42-4.38-4.56-5.36a19.35,19.35,0,0,0-4-.33c-1.33,0-1.92.1-4.39.1-.91,0-2.72-.13-2.72-.13v.49a3,3,0,0,1,1.5.52c.63.53.73,1.06.73,3.59v11.51c0,2.82,0,3.75-.63,4.37a2.45,2.45,0,0,1-1.7.72v.5c1.49-.13,2.64-.13,3.86-.13s2.41.06,3.77.13v-.5a2.91,2.91,0,0,1-1.5-.52c-.63-.53-.73-1.06-.73-3.59v-4.67h2.43c.84,1.12,4.74,5.79,5.68,6.81,1.85,2,2.82,2.56,5,2.56,1.36,0,2.4-.16,2.68-.16" /><path class="cls-14" d="M391.3,253.88c-.14-1.51-.1-4-.1-4h-9c-1.95,0-3.2,0-5.12-.1v.49a2.37,2.37,0,0,1,1.64.63c.56.59.59,1.08.59,3.51v11.45c0,2.82,0,3.75-.63,4.37a2.64,2.64,0,0,1-1.7.76v.46c1.5-.13,3.17-.13,4.39-.13s2.64.06,4,.13v-.5c-.28,0-1.91-.1-2.47-.88-.35-.46-.45-1.12-.45-3.19v-6.09h3.79c1.33,0,2.23.07,2.75.59a2.38,2.38,0,0,1,.67,1.85h.59c0-.76-.11-1-.11-3.06s.08-2.4.08-3.13h-.56a2.64,2.64,0,0,1-.63,1.88c-.52.52-1.25.62-2.72.62h-3.86v-8.38h4.25c1.39,0,2.4,0,3.1.59a2.8,2.8,0,0,1,.87,2.14Z" /><path class="cls-14" d="M400.64,251a1.66,1.66,0,0,0-1.85-1.65,1.71,1.71,0,0,0-1.92,1.71,1.66,1.66,0,0,0,1.85,1.65,1.71,1.71,0,0,0,1.92-1.71" /><path class="cls-14" d="M402.8,271.44V271a2.64,2.64,0,0,1-2-.86c-.35-.49-.42-1.22-.42-3.29v-4.57c0-2.46,0-4.93.14-6.08l-.1-.1a8.32,8.32,0,0,1-1.71.4,18.63,18.63,0,0,1-3.55.29v.56A2.45,2.45,0,0,1,397,258c.35.49.39,1.28.39,3.36v4.47c0,2.83,0,3.78-.63,4.4a2.75,2.75,0,0,1-1.85.73v.46c1.5-.14,3-.14,4-.14,1.22,0,2.51.07,3.87.14" /><path class="cls-14" d="M418.79,257.3V257a3.75,3.75,0,0,0-2.55-.78,5.4,5.4,0,0,0-4.18,2v-2l-.14-.1a8.21,8.21,0,0,1-1.7.4,17.51,17.51,0,0,1-3.35.29v.56a2.49,2.49,0,0,1,1.88.69c.35.49.39,1.28.39,3.35v4.48c0,2.82,0,3.75-.63,4.37a2.67,2.67,0,0,1-1.71.76v.46c1.5-.13,2.93-.13,4.15-.13s2.82.06,4.18.13v-.53c-.53,0-2-.07-2.58-.86-.35-.49-.42-1.21-.42-3.28v-8.06a3.67,3.67,0,0,1,2.16-.66,3.32,3.32,0,0,1,3,1.42h.28Z" /><path class="cls-14" d="M432.44,267.16c0-2.33-1.71-3.29-3.2-4.11L427,261.8c-.8-.46-1.92-1.05-1.92-2.37,0-.52.07-2.3,2.86-2.3a3.49,3.49,0,0,1,2.72,1,2.93,2.93,0,0,1,.66,1.68h.59c-.07-.49,0-.79-.07-1.68,0,0,0-1.38.1-1.74a25.39,25.39,0,0,0-4-.33,8,8,0,0,0-3.17.53,3.67,3.67,0,0,0-2.2,3.58c0,2,1.29,3,2.55,3.72l2.36,1.38c1.33.79,2.27,1.35,2.27,2.69,0,2.5-2.58,2.47-3.14,2.47a3.78,3.78,0,0,1-3.17-1.15,3.31,3.31,0,0,1-.76-1.94h-.6a19.34,19.34,0,0,1,.18,3V271a12.66,12.66,0,0,0,4.15.62c2.47,0,6-.69,6-4.44" /><path class="cls-14" d="M447.32,270.29l-.21-.5a5.49,5.49,0,0,1-2.2.46c-2.85,0-3.24-1.58-3.24-3.94v-8.55h5.65v-1.28h-5.65V253h-.45a20.14,20.14,0,0,1-2.79,3.42,6.62,6.62,0,0,1-1.95,1.05v.33h2.2c0,3-.07,5.26-.07,8.25a12.71,12.71,0,0,0,.24,3.09c.56,1.71,1.74,2.57,4.29,2.57a5.83,5.83,0,0,0,4.18-1.38" /><path class="cls-14" d="M523.73,269.33a5.77,5.77,0,0,1-3.13.79c-5.4,0-5.68-4.9-5.68-6.11,0-3,.73-6.71,5.15-6.71a4.82,4.82,0,0,1,3.66,1.25Zm5.23,1.61v-.52a2.55,2.55,0,0,1-1.85-.69c-.35-.46-.38-1.29-.38-3.36V253.61c0-2.49,0-4.93.14-6.11l-.11-.07a10,10,0,0,1-1.67.4,23.24,23.24,0,0,1-3.59.29v.53a2.46,2.46,0,0,1,1.85.69c.35.49.38,1.32.38,3.39v3.75a14.42,14.42,0,0,0-3.59-.4c-3.73,0-6.34,1.71-7.59,4.28a9.39,9.39,0,0,0-.87,4.07c0,4.24,2.64,7.27,7.14,7.27a7.7,7.7,0,0,0,5-1.84v1.74l.14.07a8,8,0,0,1,1.74-.4,26.31,26.31,0,0,1,3.28-.33" /><path class="cls-14" d="M508.7,271.44V271a2.82,2.82,0,0,1-1.5-.53c-.63-.56-.73-1-.73-3.62v-4.57a14.92,14.92,0,0,0-.21-2.73c-.49-2.1-2.13-3.45-5.16-3.45A7.9,7.9,0,0,0,496,258v-1.78l-.14-.1a7.87,7.87,0,0,1-1.71.4,16.66,16.66,0,0,1-3.34.29v.56a2.49,2.49,0,0,1,1.88.69c.35.49.38,1.28.38,3.36v4.47c0,2.83,0,3.74-.63,4.37a2.64,2.64,0,0,1-1.7.76v.46a37.57,37.57,0,0,1,3.83-.14c1.22,0,2.37.07,3.73.14V271a2.82,2.82,0,0,1-1.5-.53c-.63-.56-.73-1-.73-3.62v-8.41a6.93,6.93,0,0,1,3.45-.79c2.78,0,3.65,1.54,3.86,3.25a31.56,31.56,0,0,1,.14,3.62c0,.92,0,2.14,0,2.73-.07,1.34,0,2.43-.74,3.12a2.78,2.78,0,0,1-1.56.63v.46a36.91,36.91,0,0,1,3.79-.14c1.22,0,2.41.07,3.77.14" /><path class="cls-14" d="M482.29,269.2a4.7,4.7,0,0,1-3,.89c-2.71,0-2.82-2.07-2.82-2.6a2.38,2.38,0,0,1,1.64-2.43,13.08,13.08,0,0,1,4.14-.56Zm5.44.82-.31-.36a1.16,1.16,0,0,1-.77.23c-1.4,0-1.4-1.15-1.4-2.1s.11-3.78.11-6.05a7.15,7.15,0,0,0-.7-3.88c-.73-1.06-2-1.81-4.45-1.81-3.42,0-4.92,2-5.27,3.06l.49.29a4,4,0,0,1,3.48-1.81c1.5,0,2.69.5,3.18,1.88a11.22,11.22,0,0,1,.2,2.76v1.38a26.7,26.7,0,0,0-5.74.46,3.66,3.66,0,0,0-3.07,3.68c0,.63.11,3.88,4.5,3.88a5.29,5.29,0,0,0,4.38-2.07c0,1.32.91,2,2.3,2a3.8,3.8,0,0,0,3.07-1.58" /><path class="cls-14" d="M459.54,260.92a10.24,10.24,0,0,1-1.11.06,9,9,0,0,1-2.4-.23v-9.7a10.75,10.75,0,0,1,1.7-.13c2.23,0,5.4.52,5.4,4.83,0,3.39-1.67,4.87-3.59,5.17m12.3,10.45v-.46c-1.46,0-2.92-1.31-4.6-3.12-2.09-2.24-5.78-6.32-5.78-6.32,2.61-.75,5-2.69,5-6,0-1.42-.42-4.38-4.56-5.36a19.35,19.35,0,0,0-4-.33c-1.33,0-1.92.1-4.39.1-.91,0-2.72-.13-2.72-.13v.49a3,3,0,0,1,1.5.52c.63.53.73,1.06.73,3.59v11.51c0,2.82,0,3.75-.63,4.37a2.45,2.45,0,0,1-1.7.72v.5c1.49-.13,2.64-.13,3.86-.13s2.41.06,3.77.13v-.5a2.91,2.91,0,0,1-1.5-.52c-.63-.53-.73-1.06-.73-3.59v-4.67h2.43c.84,1.12,4.74,5.79,5.68,6.81,1.85,2,2.82,2.56,5,2.56,1.36,0,2.4-.16,2.68-.16" /><path class="cls-14" d="M391.3,253.88c-.14-1.51-.1-4-.1-4h-9c-1.95,0-3.2,0-5.12-.1v.49a2.37,2.37,0,0,1,1.64.63c.56.59.59,1.08.59,3.51v11.45c0,2.82,0,3.75-.63,4.37a2.64,2.64,0,0,1-1.7.76v.46c1.5-.13,3.17-.13,4.39-.13s2.64.06,4,.13v-.5c-.28,0-1.91-.1-2.47-.88-.35-.46-.45-1.12-.45-3.19v-6.09h3.79c1.33,0,2.23.07,2.75.59a2.38,2.38,0,0,1,.67,1.85h.59c0-.76-.11-1-.11-3.06s.08-2.4.08-3.13h-.56a2.64,2.64,0,0,1-.63,1.88c-.52.52-1.25.62-2.72.62h-3.86v-8.38h4.25c1.39,0,2.4,0,3.1.59a2.8,2.8,0,0,1,.87,2.14Z" /><path class="cls-14" d="M400.64,251a1.66,1.66,0,0,0-1.85-1.65,1.71,1.71,0,0,0-1.92,1.71,1.66,1.66,0,0,0,1.85,1.65,1.71,1.71,0,0,0,1.92-1.71" /><path class="cls-14" d="M402.8,271.44V271a2.64,2.64,0,0,1-2-.86c-.35-.49-.42-1.22-.42-3.29v-4.57c0-2.46,0-4.93.14-6.08l-.1-.1a8.32,8.32,0,0,1-1.71.4,18.63,18.63,0,0,1-3.55.29v.56A2.45,2.45,0,0,1,397,258c.35.49.39,1.28.39,3.36v4.47c0,2.83,0,3.78-.63,4.4a2.75,2.75,0,0,1-1.85.73v.46c1.5-.14,3-.14,4-.14,1.22,0,2.51.07,3.87.14" /><path class="cls-14" d="M418.79,257.3V257a3.75,3.75,0,0,0-2.55-.78,5.4,5.4,0,0,0-4.18,2v-2l-.14-.1a8.21,8.21,0,0,1-1.7.4,17.51,17.51,0,0,1-3.35.29v.56a2.49,2.49,0,0,1,1.88.69c.35.49.39,1.28.39,3.35v4.48c0,2.82,0,3.75-.63,4.37a2.67,2.67,0,0,1-1.71.76v.46c1.5-.13,2.93-.13,4.15-.13s2.82.06,4.18.13v-.53c-.53,0-2-.07-2.58-.86-.35-.49-.42-1.21-.42-3.28v-8.06a3.67,3.67,0,0,1,2.16-.66,3.32,3.32,0,0,1,3,1.42h.28Z" /><path class="cls-14" d="M432.44,267.16c0-2.33-1.71-3.29-3.2-4.11L427,261.8c-.8-.46-1.92-1.05-1.92-2.37,0-.52.07-2.3,2.86-2.3a3.49,3.49,0,0,1,2.72,1,2.93,2.93,0,0,1,.66,1.68h.59c-.07-.49,0-.79-.07-1.68,0,0,0-1.38.1-1.74a25.39,25.39,0,0,0-4-.33,8,8,0,0,0-3.17.53,3.67,3.67,0,0,0-2.2,3.58c0,2,1.29,3,2.55,3.72l2.36,1.38c1.33.79,2.27,1.35,2.27,2.69,0,2.5-2.58,2.47-3.14,2.47a3.78,3.78,0,0,1-3.17-1.15,3.31,3.31,0,0,1-.76-1.94h-.6a19.34,19.34,0,0,1,.18,3V271a12.66,12.66,0,0,0,4.15.62c2.47,0,6-.69,6-4.44" /><path class="cls-14" d="M447.32,270.29l-.21-.5a5.49,5.49,0,0,1-2.2.46c-2.85,0-3.24-1.58-3.24-3.94v-8.55h5.65v-1.28h-5.65V253h-.45a20.14,20.14,0,0,1-2.79,3.42,6.62,6.62,0,0,1-1.95,1.05v.33h2.2c0,3-.07,5.26-.07,8.25a12.71,12.71,0,0,0,.24,3.09c.56,1.71,1.74,2.57,4.29,2.57a5.83,5.83,0,0,0,4.18-1.38" /><path class="cls-14" d="M523.73,269.33a5.77,5.77,0,0,1-3.13.79c-5.4,0-5.68-4.9-5.68-6.11,0-3,.73-6.71,5.15-6.71a4.82,4.82,0,0,1,3.66,1.25Zm5.23,1.61v-.52a2.55,2.55,0,0,1-1.85-.69c-.35-.46-.38-1.29-.38-3.36V253.61c0-2.49,0-4.93.14-6.11l-.11-.07a10,10,0,0,1-1.67.4,23.24,23.24,0,0,1-3.59.29v.53a2.46,2.46,0,0,1,1.85.69c.35.49.38,1.32.38,3.39v3.75a14.42,14.42,0,0,0-3.59-.4c-3.73,0-6.34,1.71-7.59,4.28a9.39,9.39,0,0,0-.87,4.07c0,4.24,2.64,7.27,7.14,7.27a7.7,7.7,0,0,0,5-1.84v1.74l.14.07a8,8,0,0,1,1.74-.4,26.31,26.31,0,0,1,3.28-.33" /><path class="cls-14" d="M508.7,271.44V271a2.82,2.82,0,0,1-1.5-.53c-.63-.56-.73-1-.73-3.62v-4.57a14.92,14.92,0,0,0-.21-2.73c-.49-2.1-2.13-3.45-5.16-3.45A7.9,7.9,0,0,0,496,258v-1.78l-.14-.1a7.87,7.87,0,0,1-1.71.4,16.66,16.66,0,0,1-3.34.29v.56a2.49,2.49,0,0,1,1.88.69c.35.49.38,1.28.38,3.36v4.47c0,2.83,0,3.74-.63,4.37a2.64,2.64,0,0,1-1.7.76v.46a37.57,37.57,0,0,1,3.83-.14c1.22,0,2.37.07,3.73.14V271a2.82,2.82,0,0,1-1.5-.53c-.63-.56-.73-1-.73-3.62v-8.41a6.93,6.93,0,0,1,3.45-.79c2.78,0,3.65,1.54,3.86,3.25a31.56,31.56,0,0,1,.14,3.62c0,.92,0,2.14,0,2.73-.07,1.34,0,2.43-.74,3.12a2.78,2.78,0,0,1-1.56.63v.46a36.91,36.91,0,0,1,3.79-.14c1.22,0,2.41.07,3.77.14" /><path class="cls-14" d="M429.15,218.63c0-10.82,10.68-19.6,23.85-19.6s23.85,8.78,23.85,19.6S466.17,238.24,453,238.24s-23.85-8.78-23.85-19.61" /><path class="cls-15" d="M429.15,218.63c0-10.82,10.68-19.6,23.85-19.6s23.85,8.78,23.85,19.6S466.17,238.24,453,238.24s-23.85-8.78-23.85-19.61" /><path class="cls-16" d="M453,237.53c-12.77,0-23.15-8.48-23.15-18.91s10.38-18.9,23.15-18.9,23.15,8.48,23.15,18.9S465.8,237.53,453,237.53" /><path class="cls-14" d="M453,200.41c12.38,0,22.45,8.17,22.45,18.21S465.42,236.83,453,236.83s-22.45-8.17-22.45-18.21,10.07-18.21,22.45-18.21m0-1.39c-13.17,0-23.85,8.78-23.85,19.6s10.68,19.6,23.85,19.6,23.85-8.77,23.85-19.6S466.21,199,453,199" /><path class="cls-14" d="M461.88,216.23a9.63,9.63,0,0,1-2.95-1.44,3.48,3.48,0,0,0,1.55-.2,5.46,5.46,0,0,0,1.25-.49l-.05.6a5.21,5.21,0,0,0,2.31-2,9.61,9.61,0,0,0,1.09-2.09,1,1,0,0,1,.5.33,2.43,2.43,0,0,1,.34.7,1.63,1.63,0,0,0,.67-1.33,1.45,1.45,0,0,0-.72-1.16l1.19.28s-.09-1.57-2-1.27c-1.64.25-1.56,2.12-1.56,2.12s-.4.57-2.32,1a9,9,0,0,1-3.53-.15,6.08,6.08,0,0,1,.48,4,7.59,7.59,0,0,1-1.85,3.83c.24,0,.73-.14,1.46-.32,1-.25,1.51-.41,1.51-.41a1,1,0,0,1-.28.54,9.53,9.53,0,0,0,4.3-.35c.52-.12,1.25-.36,1.49.12.47.95-.66,1.2-.66,1.2s.42.44,1.82-.09a1.31,1.31,0,0,0,.9-1.23l.42.63a1.34,1.34,0,0,0-.54-2.11,2.27,2.27,0,0,0-2.25,0s-.94-.31-2.55-.73" /><path class="cls-17" d="M461.88,216.23a9.63,9.63,0,0,1-2.95-1.44,3.48,3.48,0,0,0,1.55-.2,5.46,5.46,0,0,0,1.25-.49l-.05.6a5.21,5.21,0,0,0,2.31-2,9.61,9.61,0,0,0,1.09-2.09,1,1,0,0,1,.5.33,2.43,2.43,0,0,1,.34.7,1.63,1.63,0,0,0,.67-1.33,1.45,1.45,0,0,0-.72-1.16l1.19.28s-.09-1.57-2-1.27c-1.64.25-1.56,2.12-1.56,2.12s-.4.57-2.32,1a9,9,0,0,1-3.53-.15,6.08,6.08,0,0,1,.48,4,7.59,7.59,0,0,1-1.85,3.83c.24,0,.73-.14,1.46-.32,1-.25,1.51-.41,1.51-.41a1,1,0,0,1-.28.54,9.53,9.53,0,0,0,4.3-.35c.52-.12,1.25-.36,1.49.12.47.95-.66,1.2-.66,1.2s.42.44,1.82-.09a1.31,1.31,0,0,0,.9-1.23l.42.63a1.34,1.34,0,0,0-.54-2.11,2.27,2.27,0,0,0-2.25,0s-.94-.31-2.55-.73" /><path class="cls-14" d="M451.26,206.59a3,3,0,0,1-2.2-.91,2.93,2.93,0,0,0-.73,1.48c-.18,2.13.44,2,.92,4.06a7.39,7.39,0,0,1-1,5,3.17,3.17,0,0,0,3.31-.52c1.3-1,.64-3,.64-3a2.48,2.48,0,0,1,.59,2,3.28,3.28,0,0,1-1,2,3.83,3.83,0,0,0,3-1.5,3.21,3.21,0,0,0,.12-3s.54,0,.85,1.1a3.66,3.66,0,0,1-.37,2.36,3.1,3.1,0,0,0,2-1.9,2.8,2.8,0,0,0,0-1.77c-1.09-2.46-4.33-1.34-5.66-3.63a3,3,0,0,1-.49-1.88" /><path class="cls-17" d="M451.26,206.59a3,3,0,0,1-2.2-.91,2.93,2.93,0,0,0-.73,1.48c-.18,2.13.44,2,.92,4.06a7.39,7.39,0,0,1-1,5,3.17,3.17,0,0,0,3.31-.52c1.3-1,.64-3,.64-3a2.48,2.48,0,0,1,.59,2,3.28,3.28,0,0,1-1,2,3.83,3.83,0,0,0,3-1.5,3.21,3.21,0,0,0,.12-3s.54,0,.85,1.1a3.66,3.66,0,0,1-.37,2.36,3.1,3.1,0,0,0,2-1.9,2.8,2.8,0,0,0,0-1.77c-1.09-2.46-4.33-1.34-5.66-3.63a3,3,0,0,1-.49-1.88" /><path class="cls-14" d="M447.92,211.73a2.65,2.65,0,0,0-1.5-1.11c-1.44-.4-1.85.49-3.21.73-.91.15-1.89-.84-1.89-.84a2.4,2.4,0,0,0,0,1.09,1.55,1.55,0,0,0,.57.72l-.41.07a3.51,3.51,0,0,0,2.26,1.26,5,5,0,0,0,3.23-1.34,2.38,2.38,0,0,1-.54,3.1c-1.13,1.07-4.61,2.27-6.05,2.87-1.71.72-3.5,3.1-2.35,5.09,1.43,2.45,4.4.85,6.26-.39a1.59,1.59,0,0,0,.19,1.29,3.58,3.58,0,0,0,.56.88,3.92,3.92,0,0,1-1.92,1.21,4.9,4.9,0,0,1-2,.09s-.18.14,0,.64a3.52,3.52,0,0,0,.94,1.19l-.49.18a6,6,0,0,0,1.84,1.81,14.22,14.22,0,0,0,4.84,2.13c.46.19-.33.78-.33.78a1.85,1.85,0,0,0,1.35.08,3.52,3.52,0,0,0,1.49-.57,2.23,2.23,0,0,1,1.25.58,1.38,1.38,0,0,0-.12-1.36c-.86-1.27-3.2-.82-3.2-.82a6.14,6.14,0,0,1-2.69-1.68,1.57,1.57,0,0,1-.1-2.21,20.59,20.59,0,0,0,4-.07,2.47,2.47,0,0,0,2.22-2.94,5.75,5.75,0,0,0-2.3-3.5s3.71,0,5.66-1.82a7,7,0,0,0,2-3.79,4.85,4.85,0,0,1-1.09.87,9.29,9.29,0,0,1-2.05,1l.2-.45a4.47,4.47,0,0,1-1.45.7,9.45,9.45,0,0,1-2.36.25l.48-.73a3.8,3.8,0,0,1-2.35.29,3.69,3.69,0,0,1-.77,1.67c-.86,1-1,.23-3,1.59a2,2,0,0,0-.94,1.32l0,.2a15,15,0,0,1-2.36,1.38c-3.95,1.64-3.74-2.76-1-3.87a35.21,35.21,0,0,0,5.67-2.55c1.7-1.06,2.64-3.41,1.45-5" /><path class="cls-17" d="M447.92,211.73a2.65,2.65,0,0,0-1.5-1.11c-1.44-.4-1.85.49-3.21.73-.91.15-1.89-.84-1.89-.84a2.4,2.4,0,0,0,0,1.09,1.55,1.55,0,0,0,.57.72l-.41.07a3.51,3.51,0,0,0,2.26,1.26,5,5,0,0,0,3.23-1.34,2.38,2.38,0,0,1-.54,3.1c-1.13,1.07-4.61,2.27-6.05,2.87-1.71.72-3.5,3.1-2.35,5.09,1.43,2.45,4.4.85,6.26-.39a1.59,1.59,0,0,0,.19,1.29,3.58,3.58,0,0,0,.56.88,3.92,3.92,0,0,1-1.92,1.21,4.9,4.9,0,0,1-2,.09s-.18.14,0,.64a3.52,3.52,0,0,0,.94,1.19l-.49.18a6,6,0,0,0,1.84,1.81,14.22,14.22,0,0,0,4.84,2.13c.46.19-.33.78-.33.78a1.85,1.85,0,0,0,1.35.08,3.52,3.52,0,0,0,1.49-.57,2.23,2.23,0,0,1,1.25.58,1.38,1.38,0,0,0-.12-1.36c-.86-1.27-3.2-.82-3.2-.82a6.14,6.14,0,0,1-2.69-1.68,1.57,1.57,0,0,1-.1-2.21,20.59,20.59,0,0,0,4-.07,2.47,2.47,0,0,0,2.22-2.94,5.75,5.75,0,0,0-2.3-3.5s3.71,0,5.66-1.82a7,7,0,0,0,2-3.79,4.85,4.85,0,0,1-1.09.87,9.29,9.29,0,0,1-2.05,1l.2-.45a4.47,4.47,0,0,1-1.45.7,9.45,9.45,0,0,1-2.36.25l.48-.73a3.8,3.8,0,0,1-2.35.29,3.69,3.69,0,0,1-.77,1.67c-.86,1-1,.23-3,1.59a2,2,0,0,0-.94,1.32l0,.2a15,15,0,0,1-2.36,1.38c-3.95,1.64-3.74-2.76-1-3.87a35.21,35.21,0,0,0,5.67-2.55c1.7-1.06,2.64-3.41,1.45-5" /><path class="cls-14" d="M452.35,222.65a4.31,4.31,0,0,1,.38,1.82,1.42,1.42,0,0,1,1.77.81c.57,1.5-1.73,2.18-1.73,2.18a5.6,5.6,0,0,0,2.83,2.91c2.26,1.27,3.18,1.22,3.18,1.22a1.23,1.23,0,0,1,1.29-.35c.83.21.05,1.13.05,1.13a2.32,2.32,0,0,0,1.58-.14c.67-.26.69-.54.69-.54a3,3,0,0,1,.58.07,1.35,1.35,0,0,1,.58.35,2,2,0,0,0-.83-1.86,5,5,0,0,0-3.45-.55,6.39,6.39,0,0,1-2.72-2.15,5.68,5.68,0,0,0,2.37-2.78c.26-.65,1.27-4.06-2.95-4.27a13.18,13.18,0,0,0-4.75.71s.53.12,1.13,1.44" /><path class="cls-17" d="M452.35,222.65a4.31,4.31,0,0,1,.38,1.82,1.42,1.42,0,0,1,1.77.81c.57,1.5-1.73,2.18-1.73,2.18a5.6,5.6,0,0,0,2.83,2.91c2.26,1.27,3.18,1.22,3.18,1.22a1.23,1.23,0,0,1,1.29-.35c.83.21.05,1.13.05,1.13a2.32,2.32,0,0,0,1.58-.14c.67-.26.69-.54.69-.54a3,3,0,0,1,.58.07,1.35,1.35,0,0,1,.58.35,2,2,0,0,0-.83-1.86,5,5,0,0,0-3.45-.55,6.39,6.39,0,0,1-2.72-2.15,5.68,5.68,0,0,0,2.37-2.78c.26-.65,1.27-4.06-2.95-4.27a13.18,13.18,0,0,0-4.75.71s.53.12,1.13,1.44" /><path class="cls-14" d="M457.85,206.45c.64-1.06,0-1.24-.61-1.44a6.56,6.56,0,0,0-1.5-.33,2.93,2.93,0,0,0-1.84-.73,3.19,3.19,0,0,0-2.25.38,4.24,4.24,0,0,0-1.29-.14c-1,.08-1.26.43-1.26.43a2.37,2.37,0,0,0,1.25,1.13,3.22,3.22,0,0,0,1.6.14,2.8,2.8,0,0,0,.29,2.25,3.24,3.24,0,0,0,2.59,1.24c.41.06.55.49,1,.49.18,0,.37-.2.74-.56a4.17,4.17,0,0,0,.62-.81l-.09-.15a2.61,2.61,0,0,1-1.41.21,2.29,2.29,0,0,1-1.5-1.19,2.25,2.25,0,0,1,1.16-.32,3.17,3.17,0,0,1,1.16.24,1.06,1.06,0,0,1,0,.36.76.76,0,0,1-.21.28l.09.15a5.14,5.14,0,0,0,1.52-1.63" /><path class="cls-16" d="M455,205.27l-.78-.08c-.56-.08-.9-.16-.9-.16a1.73,1.73,0,0,1,.59.48c.28.35.39.39.39.39l.7-.63" /></g>
        </svg>

        <div class="row">
            <div class="col-12">
                <div class="">
                    <p class="text-center">
                        LISTED HOLDING COMPANY (FIRSTRAND LIMITED, JSE: FSR)
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid wow fadeIn" id="BanksImageRedo">
            <div class="row d-none d-md-none d-lg-flex">
                <div class="col-lg-2 pr-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 offset-6 topRowLeft">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 topRow">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6 offset-6 middleLine">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 topRow">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6 offset-6 middleLine">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 topRow">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6 offset-6 middleLine">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 topRow">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6 offset-6 middleLine">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 pl-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 topRowRight">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- blocks -->
            <div class="row">
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 blueFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="firstBlockAlign">
                                                <p class="text-center">
                                                    FirstRand Bank Limited (FRB)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 blueFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    SA Banking
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 p-0 infoBlockHeight SecBlockBorder">
                                <!-- info inside blocks -->
                                <div class="px-2 content border-bottom-content">
                                    <p class="border-bottom">
                                        First National Bank<sup>1</sup>
                                    </p>
                                    <p class="border-bottom">
                                        Rand Merchant Bank<sup>1</sup>
                                    </p>
                                    <p class="border-bottom">
                                        WesBank<sup>1</sup>
                                    </p>
                                    <p class="border-bottom">
                                        FirstRand Bank India<sup>2</sup>
                                    </p>
                                    <p class="border-bottom">
                                        FirstRand Bank London<sup>2*</sup>
                                    </p>
                                    <p class="border-bottom">
                                        FirstRand Bank Guernsey<sup>2**</sup>
                                    </p>
                                    <p class="border-bottom">
                                        FirstRand Bank Kenya<sup>3</sup>
                                    </p>
                                    <p class="border-bottom">
                                        FirstRand Bank Angola<sup>3</sup>
                                    </p>
                                    <p class="">
                                        FirstRand Bank Shanghai<sup>3</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 purpleFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="secBlockAlign">
                                                <p class="text-center">
                                                    FirstRand EMA Holdings (Pty) Ltd (FREMA)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 purpleFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    Rest of Africa
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 SecBlockBorder p-0 infoBlockHeight">
                                <!-- info inside blocks -->
                                <div class="content secndinfo border-bottom-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1 border-bottom">
                                                <span>58%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FirstRand Namibia
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>69%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Botswana
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Swaziland
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>90%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Mozambique
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Zambia
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Lesotho
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Tanzania
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                First National Bank Ghana
                                            </div>
                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                RMB Nigeria
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 yellowFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="thirdBlockAlign">
                                                <p class="text-center">
                                                    FirstRand International Limited (Guernsey) (FRI)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 yellowFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    UK banking
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 SecBlockBorder p-0 infoBlockHeight">
                                <!-- info inside blocks -->
                                <div class="content secndinfo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10">
                                                Aldermore Group plc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content secndinfo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10">
                                                RMB International Mauritius
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 dblueFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fourthBlockAlign">
                                                <p class="text-center">
                                                    FirstRand Insurance Holdings (Pty) Ltd
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 dblueFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    Insurance
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 SecBlockBorder p-0 infoBlockHeight">
                                <!-- info inside blocks -->
                                <div class="content secndinfo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FirstRand Life Assurance
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FirstRand Short-Term Insurance Ltd
                                            </div>

                                            <div class="col-2 pl-1">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10">
                                                FirstRand Insurance Services Company (FRISCOL)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 redFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fithBlockAlign">
                                                <p class="text-center">
                                                    FirstRand Investment Management Holdings Limited
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 redFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    Investment Management
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 SecBlockBorder p-0 infoBlockHeight">
                                <!-- info inside blocks -->
                                <div class="content secndinfo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                Ashburton Fund Managers
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Investor Services
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                Ashburton Management Company (RF)
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                Ashburton Investments International Holdings
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB CIS Management Company (RF)
                                            </div>

                                            <div class="col-2 pl-1">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10">
                                                Various general partners #
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="container-fluid">
                        <!-- First blocks -->
                        <div class="row mb-1">
                            <div class="col-12 greenFill">
                                <p class="text-center">
                                    100%
                                </p>
                            </div>
                        </div>
                        <!-- Second blocks -->
                        <div class="row">
                            <div class="col-12 ownBorder p-0 secondBlockHeight">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="sixthBlockAlign">
                                                <p class="text-center">
                                                    FirstRand Investment Holdings (Pty) Ltd (FRIHL)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row BankingBlocksMargin">
                                        <div class="col-12 greenFill">
                                            <div class="blockHeight">
                                                <p class="text-center">
                                                    Other activities
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer/Connector blocks -->
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-6 col-6 ConnectorBlocks">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Large info blocks blocks -->
                        <div class="row">
                            <div class="col-12 SecBlockBorder p-0 infoBlockHeight">
                                <!-- info inside blocks -->
                                <div class="content secndinfo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 pl-1 border-bottom">
                                                <span>99%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                RMB Private Equity Holdings
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                RMB Private Equity
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                RMB Securities
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>50%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                RMB Morgan Stanley
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                FNB Securities
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                Direct Axis
                                            </div>

                                            <div class="col-2 pl-1 border-bottom">
                                                <span>81%</span>
                                            </div>
                                            <div class="col-10 border-bottom">
                                                MotoVantage
                                            </div>

                                            <div class="col-2 pl-1">
                                                <span>100%</span>
                                            </div>
                                            <div class="col-10">
                                                FirstRand Securities
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom info -->
            <div class="row BottomInfoFontSize">
                <div class="col-2 pl-0">
                    <ol class="paddingL20px font-italic">
                        <li>
                            Division
                        </li>
                        <li>
                            Branch
                        </li>
                        <li>
                            Representative office
                        </li>
                    </ol>
                </div>
                <div class="col-10 pl-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="limitWidth">
                                <ul class="no-deco pl-0">
                                    <li>
                                        <span>*</span>
                                    </li>
                                    <li>
                                        <span>**</span>
                                    </li>
                                    <li>
                                        <span>#</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-11">
                                <ul class="no-deco p-0">
                                    <li>
                                        MotoNovo Finance is a business segment of  FirstRand Bank Limited (London Branch).
                                    </li>
                                    <li>
                                        Trading as FNB Channel Islands.
                                    </li>
                                    <li>
                                        Ashburton Investments has a number of general partners for fund seeding purposes - all of these entities fall under FirstRand Investments Management Holdings Limited.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- text at the bottom of image -->
            <div class="row">
                <div class="col-12 pl-0">
                    <h6>
                        Structure shows effective consolidated shareholding
                    </h6>
                </div>
                <div class="col-12 pl-0">
                    <p>For segmental analysis purposes, entities included in FRIHL and FREMA, FirstRand Investment Management Holdings Limited and FirstRand Insurance Holdings (Pty) Ltd are reported as part of the results of the managing business (i.e. FNB, RMB, WesBank or FCC). The group’s securitisations and conduits are in FRIHL, FRI and FRB.</p>
                </div>
            </div>
        </div>
    </div>
</div>



