﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

@*<div class="financial-results">
    <div id="accordion" class="">
        <div class="card mb-0">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    Investor presentations
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse in show" data-parent="#accordion">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @{ var t = 1;}
                    @for (var i = 2020 - 1; i > 2012; i -= 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(i == 2019 ? "active" : null) " id="tab-tab1" data-toggle="tab" href="#tablimited1_@t"
                               role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                        </li>
                        t++;
                    }

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                                more
                            </a>
                            <ul class="dropdown-menu">
                                @for (var i = 2013 - 1; i >= 2008; i -= 1)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-tab1" data-toggle="tab" href="#tablimited1_@t"
                                       role="tab" aria-controls="tab" aria-selected="true">@i</a>

                                </li>
                                    t++;
                                }
                            </ul>
                        </div>
                    </li>


                </ul>
                <div class="tab-content" id="myTabContent">
                    @{var j = 1;}
                    @for (var i = 2020 - 1; i >= 1998; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited1_@j" role="tabpanel"
                             aria-labelledby="tablimited1_@j">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderItemLoop(@year)
                                </tbody>
                            </table>
                        </div>
                        j++;
                    }
                    @helper RenderItemLoop(string year)
                    {
                        var selection =
                            Umbraco.TypedContent(1715)
                            .Children("investorPresentationsItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("CreateDate");

                        foreach (var item in selection)
                        {
                            // If field value @Umbraco.Field("year") is equal to year,
                            // display items that have that value
                            var itemYear = item.GetPropertyValue<string>("itemYear");
                            if (itemYear.Equals(@year))
                            {
                                <tr>
                                    <th scope="row">
                                        <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf pr-2">
                                    </th>
                                    <td>
                                        <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">@item.Name</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </div>
            </div>

           
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseThree">
                <a class="card-title">
                    Other shareholder documents
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">

                <div class="card-body">
                    <h6>
            Aldermore acquisition
        </h6>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @{ var tc = 1;}
            @for (var i = 2020 - 1; i > 2012; i -= 1)
            {
                <li class="nav-item">
                    <a class="nav-link @(i == 2019 ? "active" : null) " id="tab-tab1" data-toggle="tab" href="#tablimited20_@tc"
                       role="tab" aria-controls="tab1" aria-selected="true">@i</a>
                </li>
                tc++;
            }

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                        more
                    </a>
                    <ul class="dropdown-menu">
                        @for (var i = 2013 - 1; i >= 2008; i -= 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="tab-tab1" data-toggle="tab" href="#tablimited20_@tc"
                                   role="tab" aria-controls="tab" aria-selected="true">@i</a>

                            </li>
                            tc++;
                        }
                    </ul>
                </div>
            </li>


        </ul>
        <div class="tab-content" id="myTabContent">
            @{var jc = 1;}
            @for (var i = 2020 - 1; i >= 1998; i -= 1)
            {
                <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited20_@jc" role="tabpanel"
                     aria-labelledby="tablimited1_@j">
                    <table class="table table-dark table-sm table-borderless">
                        <tbody>
                            @{ string year = i.ToString();}
                            @RenderItemLoopC(@year)
                        </tbody>
                    </table>
                </div>
                jc++;
            }
            @helper RenderItemLoopC(string year)
            {
                var selection =
                    Umbraco.TypedContent(2636)
                    .Children("aldernoreAcqusitionItem")
                    .Where(x => x.IsVisible())
                    .OrderBy("CreateDate");

                foreach (var item in selection)
                {
                    // If field value @Umbraco.Field("year") is equal to year,
                    // display items that have that value
                    var itemYear = item.GetPropertyValue<string>("itemYear");
                    if (itemYear.Equals(@year))
                    {
                        <tr>
                            <th scope="row">
                                <img src="~/images/content/icon-pdf.png" alt="" class="icon-pdf pr-2">
                            </th>
                            <td>
                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">@item.Name</a>
                            </td>
                        </tr>
                    }
                }
            }
        </div>

                </div>

               
                @{
                    var selection =
                            Umbraco.TypedContent(1716)
                            .Children("otherCircularsAndMOIItem")
                            .Where(x => x.IsVisible())
                            .OrderBy("UpdateDate desc");

                    foreach (var item in selection)
                    {
                        <div class="card-body">
                            <h6 class="card-title">
                                @item.Name
                            </h6>
                            <p class="card-text">
                                @item.GetPropertyValue("brief")
                            </p>
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{
                                        <tr>
                                            <th scope="row">
                                                <img src="~/images/content/icon-pdf.png" alt=""
                                                     class="icon-pdf">
                                            </th>
                                            <td>
                                                <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                                                    @item.GetPropertyValue("documentTitle")
                                                </a>
                                            </td>
                                        </tr>
                                        if (item.HasValue("pdfDocument2"))
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <img src="~/images/content/icon-pdf.png" alt=""
                                                         class="icon-pdf">
                                                </th>
                                                <td>
                                                    <a href="@item.GetPropertyValue("pdfDocument2")" target="_blank">
                                                        @item.GetPropertyValue("documentTitle2")
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                }
            </div>
           
           
        </div>
    </div>
</div>*@