@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="financial-results mb-5">
    <div class="row">
                         <div class="col-md-9">
                              <ul class="management-and-board nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
        <li class="nav-item flex-sm-fill text-sm-center mr-1">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-selected="true">Interim results</a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center mr-1">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false">Year-end results</a>
        </li>
    </ul>
                         </div>
                     </div>
    <div class="tab-content container wow fadeIn" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home1" role="tabpanel"
             aria-labelledby="pills-home-tab">
            <div class="full-div">
                <h4 class="strong">
                    FirstRand Limited (FSR)
                </h4>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @{ var t = 1;}
                    @for (var i = 2020 - 1; i > 2012; i -= 1)
                    {


                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2019 ? "active" : null)"
                               role="tab"
                               id="tab-tab1"
                               data-toggle="tab"
                               href="#tablimited02_@t"
                               aria-selected="true">
                                @i
                            </a>
                        </li>
                        t++;

                    }



                    <li class="nav-item ">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                more
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                                @for (var i = 2013 - 1; i >= 2000; i -= 1)
                                {
                                <li class="nav-item">

                                    <a class="nav-link" data-toggle="tab" href="#tablimited02_@t">@i</a>

                                </li>

                                        t++;
                                        }


                                </ul>
                        </div>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    @{var j = 1;}
                    @for (var i = 2020 - 1; i >= 2000; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited02_@j" role="tabpanel">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderFirstrandLimited(@year)
                                </tbody>
                            </table>
                        </div>
                        j++;
                    }
                </div>

                
                <h4 class="strong">
                    Media release
                </h4>
                <p>
                    To view live webcast of the group's results presentation at 11:00, click on the
                    link below.
                </p>
                <a href="#" class="btn btn-primary mb-4" target="_blank">
                    Webcast
                </a>
                <h4 class="strong">
                    FirstRand Bank (FRB)
                </h4>
                <ul class="nav nav-tabs" id="myTab_" role="tablist">
                    @{ var a = 1;}
                    @for (var i = 2020 - 1; i > 2012; i -= 1)
                    {
                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2019 ? "active" : null)"
                               data-toggle="tab"
                               href="#tabbank02_@a">@i</a>
                        </li>
                        a++;
                    }

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                more
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                                @for (var i = 2013 - 1; i >= 2003; i -= 1)
                                {

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabbank02_@a">@i</a>

                                </li>

                                        a++;
                                        }


                                </ul>
                        </div>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent_">
                    @{var b = 1;}
                    @for (var i = 2020 - 1; i >= 2000; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tabbank02_@b">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderFirstrandBank(@year)
                                </tbody>
                            </table>
                        </div>
                        b++;
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile1" role="tabpanel"
             aria-labelledby="pills-profile-tab">
            <div class="full-div">
                <h4 class="strong">
                    FirstRand Limited (FSR)
                </h4>
                <ul class="nav nav-tabs" id="myTab__" role="tablist">
                    @{ var tt = 1;}
                    @for (var i = 2020 - 1; i > 2012; i -= 1)
                    {
                        <li class="nav-item nav-item-date">
                            <a class="nav-link @(i == 2019 ? "active" : null)"
                               data-toggle="tab"
                               href="#limited01_@tt"
                               aria-selected="true">@i</a>
                        </li>
                        tt++;
                    }

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                                more
                            </a>
                            <ul class="dropdown-menu">
                                @for (var i = 2013 - 1; i >= 2002; i -= 1)
                                {

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#limited01_@tt">@i</a>

                                    </li>
                                    tt++;
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent__">
                    @{var jj = 1;}
                    @for (var i = 2020 - 1; i >= 2002; i -= 1)
                    {
                        <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="limited01_@jj">
                            <table class="table table-dark table-sm table-borderless">
                                <tbody>
                                    @{ string year = i.ToString();}
                                    @RenderFirstrandLimitedYER(@year)
                                </tbody>
                            </table>
                        </div>
                        jj++;
                    }
                </div>
            </div>

            
            <h4 class="strong">
                Media release
            </h4>
            <p>
                To view the webcast of the group's results presentation, click on the
                link below.
            </p>
            <a href="#" class="btn btn-primary mb-4" target="_blank">
                Webcast
            </a>
            <h4 class="strong">
                FirstRand Bank (FRB)
            </h4>
            <ul class="nav nav-tabs" id="myTab___" role="tablist">
                @{ var aa = 1;}
                @for (var i = 2020 - 1; i > 2012; i -= 1)
                {
                    <li class="nav-item nav-item-date ">
                        <a class="nav-link @(i == 2019 ? "active" : null)"
                           data-toggle="tab"
                           href="#bank01_@aa">
                            @i
                        </a>
                    </li>
                    aa++;
                }

                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                            more
                        </a>
                        <ul class="dropdown-menu">
                            @for (var i = 2013 - 1; i >= 2003; i -= 1)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#bank01_@aa">@i</a>

                                </li>
                                aa++;
                            }
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent___">
                @{var bb = 1;}
                @for (var i = 2020 - 1; i >= 2000; i -= 1)
                {
                    <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="bank01_@bb">
                        <table class="table table-dark table-sm table-borderless">
                            <tbody>
                                @{ string year = i.ToString();}
                                @RenderFirstrandBankYER(@year)
                            </tbody>
                        </table>
                    </div>
                    bb++;
                }
            </div>
        </div>
    </div>
</div>
</div>
@helper RenderFirstrandLimited(string year)
{
    var selection =
            Umbraco.TypedContent(1549)
            .Children("interimResultItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {

        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        string group = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("group"));

        if (itemYear.Equals(@year) && (group.Equals("Limited")))
        {
            <tr>
                                          <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
               </div></div>
            </tr>
        }
    }
}

@helper RenderFirstrandBank(string year)
{
    var selection =
            Umbraco.TypedContent(1549)
            .Children("interimResultItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        string group = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("group"));

        if (itemYear.Equals(@year) && (group.Equals("Bank")))
        {
            <tr>
                                          <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
                </div></div>
            </tr>
        }
    }
}

@helper RenderFirstrandLimitedYER(string year)
{
    var selection =
            Umbraco.TypedContent(1553)
            .Children("YearEndResultsItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        var group = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("group"));

        if (itemYear.Equals(@year) && (group.Equals("Limited")))
        {
            <tr>
                        <div class="full-div">
                         <div class="icon-pdf-div">
                         <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                      </div>
                        <div class="text-row-div">
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
                     </div>
                         </div>
            </tr>
        }
    }
}

@helper RenderFirstrandBankYER(string year)
{
    var selection =
            Umbraco.TypedContent(1553)
            .Children("YearEndResultsItem")
            .Where(x => x.IsVisible())
            .OrderBy("UpdateDate desc");

    foreach (var item in selection)
    {
        // If field value @Umbraco.Field("year") is equal to year,
        // display items that have that value
        var itemYear = item.GetPropertyValue<string>("itemYear");
        var group = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("group"));

        if (itemYear.Equals(@year) && (group.Equals("Bank")))
        {
            <tr>
                                          <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="~/images/content/icon-pdf.png" 
                         class="icon-pdf">
                  </div>
                <div class="text-row-div">
                    <a href="@item.GetPropertyValue("pdfDocument")" target="_blank">
                        @item.Name
                    </a>
               </div>
               </div>
            </tr>
        }
    }
}  