﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;

<div class="row governance">
    <div class="col-lg-12">

        <h5>Download frequently requested compliance documentation.</h5>

        <h4 class="strong">
            FirstRand Limited
        </h4>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @{ var tb = 1;}
            @for (var i = 2020 - 1; i > 2012; i -= 1)
            {
                <li class="nav-item nav-item-date">
                    <a class="nav-link @(i == 2019 ? "active" : null)"
                       data-toggle="tab"
                       href="#tablimited04_@tb"
                       role="tab">@i</a>
                </li>
                tb++;
            }

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" aria-expanded="true" id="dropdownMenuLink" data-toggle="dropdown">
                        more
                    </a>
                    <ul class="dropdown-menu">
                        @for (var i = 2013 - 1; i >= 1998; i -= 1)
                        {

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tablimited04_@tb">@i</a>

                            </li>
                            tb++;
                        }
                    </ul>
                </div>
            </li>


        </ul>

        <div class="tab-content " id="myTabContent">
            @{var j = 1;}
            @for (var i = 2020 - 1; i >= 1998; i -= 1)
            {
                <div class="tab-pane fade show @(i == 2019 ? "active in" : null)" id="tablimited04_@j" role="tabpanel">
                    <table class="table table-dark table-sm table-borderless">
                        <tbody>
                            @{ string year = i.ToString();}
                            @RenderGovernance(@year)
                        </tbody>
                    </table>
                </div>
                j++;
            }
        </div>
        <div class="mt-4">
            <div class="">

                <h4 class="strong">
                    USA Patriot Act
                </h4>
                @*<div class="text-center">
                    <img src="~/images/icons/email-icon.png" alt="" class="email-icon">
                </div>*@
                <p>
                    Should you require an original signed copy of this certification, please email
                    <a href="mailto:aml@firstrand.co.za"><strong>aml@firstrand.co.za</strong></a>.
                </p>
                <p class="mb-0">
                    Please note that all queries, questionnaires, etc. relating to
                    FirstRand Bank's anti-money laundering controls, policies and procedures should be directed
                    to <a href="mailto:aml@firstrand.co.za"><strong>aml@firstrand.co.za</strong></a>
                </p>
            </div>
        </div>
    </div>
    @helper RenderGovernance(string year)
    {
/**/

var selection =
    Umbraco.TypedContent(1588)
    .Children("governanceAndComplianceItem")
    .Where(x => x.IsVisible())
    .OrderBy("UpdateDate desc");

foreach (var item in selection)
{
    // If field value @Umbraco.Field("year") is equal to year,
    // display items that have that value
    var itemYear = item.GetPropertyValue<string>("itemYear");
    var bank = Umbraco.GetPreValueAsString(item.GetPropertyValue<int>("bank"));
    var document = item.GetPropertyValue("pdfDocument");


    if (itemYear.Equals(@year))
    {

                            <tr>
                               <div class="full-div">
                             <div class="icon-pdf-div">
                    <img src="/images/content/icon-pdf.png" class="icon-pdf">
                  </div>
                <div class="text-row-div">
                                    <a href="@document" target="_blank">
                                      
                                                @item.Name
                                          
                                    </a>
                                </div></div>
                            </tr>

        }
    }
}
