﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Firstrand.Controllers;
@using Firstrand.Models;
@using Archetype.Models;
@using Archetype.Extensions;


<ul class="management-and-board nav nav-pills flex-column flex-sm-row" id="pills-tab">
    <li class="nav-item flex-sm-fill text-sm-center mr-1">
        <a class="nav-link " id="pills-home-tab" href="~/investors/credit-ratings/" role="tab" aria-controls="pills-home" aria-selected="true">Credit ratings</a>
    </li>
    <li class="nav-item flex-sm-fill text-sm-center mr-1">
        <a class="nav-link" id="pills-profile-tab" href="~/investors/prospectuses/" role="tab" aria-controls="pills-profile" aria-selected="false">Prospectuses</a>
    </li>

    <li class="nav-item flex-sm-fill text-sm-center mr-1">
        <a class="nav-link" id="pills-profile-tab" href="~/investors/securitisations/" role="tab" aria-controls="pills-profile" aria-selected="false">Securitisations</a>
    </li>
</ul>



 





