﻿@*<div class="disclaimer-bolck-fixed" id="cookie-message" data-cookie-expiry="30">
    
</div>*@


@*<div class="disclaimer-overlay">

    <h2>DISCLAIMER</h2>
    <p>
        The information and advice contained in the site is for general use only. Whilst reasonable care is taken by FirstRand Limited (Reg. No. 1996/01753/06) “FirstRand” to ensure that the information published on the site is accurate and complete as at the date of publication, FirstRand does not guarantee the accuracy or completeness of any information contained in or referred to in the material on this site. Nor does FirstRand assume any liability for errors or omissions at this site or for any loss which may result from the reliance by any person upon information contained in this site.
    </p>
    <p>
        The information provided on this site is not targeted at, or intended for use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject FirstRand to any registration requirement within such jurisdiction or country. In particular, nothing on this website should be interpreted as targeting persons or entities in the United Kingdom or USA.
    </p>
    <div class="landing-button-holder mobile-text-left">
        <p>&nbsp;</p>
        <button type="button" class="btn landing-btn-primary send">
            AGREE <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn landing-btn-primary send">
            CANCEL <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
        <p>&nbsp;</p>
    </div>

</div>*@

@*<div id="myNav" class="overlay-disclaimer">

    <div class="overlay-disclaimer-content">
        <p class="text-white">
            The information and advice contained in the site is for general use only.
            Whilst reasonable care is taken by FirstRand Limited (Reg. No. 1996/01753/06)
            “FirstRand” to ensure that the information published on the site is accurate and
            complete as at the date of publication, FirstRand does not guarantee the accuracy or
            completeness of any information contained in or referred to in the material on this site.
            Nor does FirstRand assume any liability for errors or omissions at this site or for any loss
            which may result from the reliance by any person upon information contained in this site.
        </p>
        <p class="text-white">
            The information provided on this site is not targeted at, or intended for use by,
            any person or entity in any jurisdiction or country where such distribution or use would be
            contrary to law or regulation or which would subject FirstRand to any registration requirement
            within such jurisdiction or country. In particular, nothing on this website should be
            interpreted as targeting persons or entities in the United Kingdom or USA.
        </p>
        <a href="javascript:void(0)" class="closebtn btn btn-primary mb-4" onclick="closeNav()">Agree</a>

    </div>
</div>*@