﻿<!-- Footer -->
<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-bottom">
        <div class="container-fluid">
            <div class="ml-auto" id="footerMenu">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="" onclick="openNav(event)">
                            Sitemap
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/careers">
                            Careers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disclaimer-page/">
                            Disclaimer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/contact">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
<!-- /Footer -->